@use "../../abstracts/var";
@import '../../vendors/include-media';

.article {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 10px;
  @include media('<=small-desktop') {
    width: 101.3%;
  }
  @include media('<=tablet') {
    width: 100%;
  }

  &__image-container {
    background: url("../images/photos/flower_foto.png") no-repeat;
    width: 15rem;
    height: 61rem;
    right: 0;
    top: 79.2rem;
    @include media('<=small-desktop') {
      display: none;
    }
    @include media('<=tablet') {
      display: inline-block;
      top: 37.2rem;
      background: url("../images/photos/flower_foto_tablet.png") no-repeat;
      width: 13.2rem;
      right: 0;
    }
    @include media('<=mobile') {
      display: inline-block;
      top: 26rem;
      background: url("../images/photos/flower_foto_mobile.png") no-repeat;
      width: 3.4rem;
      right: 0;
    }
  }

  &__photo-wrapper {
    padding: 0;
    width: 52.5%;
    height: 100%;
    @include media('<=small-desktop') {
      width: 45.5%;
      height: 40.8rem;
      margin-left: 3rem;
    }
    @include media('<=tablet') {
      display: none;
    }
  }

  &__photo {
    max-height: 100%;
    max-width: 60.9rem;
    width: 100%;
    display: inline-block;
    object-fit: cover;
    object-position: 0 0;
    @include media('<=small-desktop') {
      height: 45vw;
      object-position: -79px 0;
    }
  }

  &__text-section {
    display: flex;
    flex-direction: column;
    width: 46.5rem;
    font-size: 10px;
    height: 100%;
    max-height: 42.7rem;
    z-index: 5;

    @include media('<=small-desktop') {
      width: 45.3rem;
      margin-right: 3rem;
    }

    @include media('<=956px') {
      width: 60%;
      margin-left: 1rem;
    }

    @include media('<=tablet') {
      font-size: 8px;
      margin-left: 2rem;
      width: 76%;
    }
    @include media('<=mobile') {
      margin-left: 1rem;
      margin-right: 0;
      width: 30rem;
    }
  }

  &__title {
    font: var.$h2-roboto-regular;
    font-size: 4.8em;
    margin: 0 0 0.5rem;
    @include media('<=small-desktop') {
      margin: 0 0 0.7rem;
    }
    @include media('<=877px') {
      margin-bottom: 0;
      font-size: 4em;
    }
    @include media('<=800px') {
      font-size: 3.8em;
      margin: 0;
    }
    @include media('<=tablet') {
      font-size: 4.8rem;
      margin-left: 0.3rem;
      margin-bottom: 0.5rem;
    }
    @include media('<=585px') {
      font-size: 3.8em;
      margin-bottom: 0;
    }

    @include media('<=mobile') {
      font-size: 24px;
      line-height: 120%;
      margin-bottom: 0;
      margin-left: 0;
    }
  }

  &__par-one {
    font: var.$body-roboto-regular;
    font-size: 1.6em;
    line-height: 2.08rem;
    margin-bottom: 3.2rem;
    @include media('<=800px') {
      margin-bottom: 1rem;
    }
    @include media('<=860px') {
      margin-bottom: 0;
    }
    @include media('<=tablet') {
      font-size: 1.6rem;
      margin-bottom: 1rem;
    }
    @include media('<=mobile') {
      font-size: 16px;
      line-height: 130%;
      margin-top: 1rem;
      margin-left: 0.2rem;
      margin-bottom: 0;
    }
  }

  &__subtitle {
    font: var.$subtitle-roboto-regular;
    font-size: 2.4em;
    margin-bottom: 3.3rem;

    @include media('<=800px') {
      margin-bottom: 1rem;
    }
    @include media('<=740px') {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
    }
    @include media('<=tablet') {
      font-size: 2.4rem;
      margin: 2.2rem 0 2rem 0.3rem;
    }
    @include media('<=mobile') {
      margin: 2.2rem 0 1rem 0.3rem;
    }

  }

  &__par-two {
    font: var.$body-roboto-regular;
    font-size: 1.6em;
    line-height: 2.24rem;
    margin: 0;
    padding: 0;
    @include media('<=tablet') {
      font-size: 1.6rem;

    }
  }
}
