//============= layout dimensions ===============================
$max-width: 116rem;
$page-height: 497.5rem;

//=========== home sections heights =============================

$hd: 78rem;
; /* header */
$gap1: 14rem;
$ar: 40.3rem; /* article */
$gap2: 17.7rem;
$ph: 87.2rem; /* photo animals */
$bt: 23.2rem; /* button - choose favorite */
$fd: 100.4rem; /* section - feed a friend */
$gap3: 14rem;
$tm: 57.5rem; /* testimonials */
$gap4: 20rem;
$ft: 44.3rem; //footer

/* ------------- home small desktop ------------------------*/
$hd-sd: 58.4rem; /* header */
$gap1-sd: 9.8rem; /* gap-sd*/
$ar-sd: 42.7rem; /* article */
$gap2-sd: 13.9rem;
$ph-sd: 80rem; /* photo animals */
$bt-sd: 27.7rem; /* button - choose favorite */
$fd-sd: 87.6rem; /* section - feed a friend */
$gap3-sd: 9.7rem;
$tm-sd: 60.2rem; /* testimonials */
$gap4-sd: 13.7rem;
$ft-sd: 44.3rem; //footer

/* ------------- home tablet ------------------------*/
$hd-tb: 37.3rem; /* header */
$gap1-tb: 6rem; /* gap-sd*/
$ar-tb: 36.7rem; /* article */
$gap2-tb: 7.5rem;
$ph-tb: 75.6rem; /* photo animals */
$bt-tb: 21.7rem; /* button - choose favorite */
$fd-tb: 78.1rem; /* section - feed a friend */
$gap3-tb: 5.6rem;
$tm-tb: 52.8rem; /* testimonials */
$gap4-tb: 7.5rem;
$ft-tb: 28.2rem; //footer

/* ------------- home mobile ------------------------*/
$hd-mb: 22rem; /* header */
$gap1-mb: 10.5rem; /* gap-sd*/
$ar-mb: 38.7rem; /* article */
$gap2-mb: 3.8rem;
$ph-mb: 138.8rem; /* photo animals */
$bt-mb: 13.6rem; /* button - choose favorite */
$fd-mb: 108.2rem; /* section - feed a friend */
$gap3-mb: 3rem;
$tm-mb: 49rem; /* testimonials */
$gap4-mb: 6rem;
$ft-mb: 54rem; //footer

//*=========default page===================*/

///*==========map page==============================================*/
$mp: 93.8rem;
$hd-default: 8rem;
//*=================== colors ===================================*/

$green: #4B9200;
$orange: #f9804b;
$yellow: #FFEE2E;
$orange_grad: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$pink_gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$rad: #D31414;
$black_blue: #333B41;
$gray: #767474;
$gray_smoky: #ABABAB;
$light_gray: #F1F3F2;
$frosted_glass_white: rgba(253, 253, 255, 0.52);

//*=================== fonts ===================================*/
$h1-roboto-bold: normal bold 14.4rem/80% Roboto, sans-serif;
$h2-roboto-regular: normal normal 4.8rem/120% Roboto, sans-serif;
$h3-roboto-regular: normal normal 3.6rem/130% Roboto, sans-serif;
$subtitle-roboto-regular: normal normal 2.4rem/120% Roboto, sans-serif;
$body-btn-roboto: normal 500 1.6rem/140% Roboto, sans-serif;
$body-roboto-regular: normal normal 1.6rem/120% Roboto, sans-serif;
$small-paragraph: normal 300 1.5rem/120% Roboto, sans-serif;













