@use '../../abstracts/var';
@import "../../vendors/include-media";

.feed-friend {
  display: flex;
  align-items: center;
  justify-content: center;

  &__background {
    background: var.$orange_grad;
    position: absolute;
    width: 100%;
    left: 0;
    height: 100.4rem;
    @include media('<=small-desktop') {
      height: 87.6rem;
      transform: translateY(-4px);
    }
    z-index: -1;
    border-radius: 2rem;
  }

  &__container-main {
    vertical-align: center;
    height: 83.5rem;
    width: 100%;
    background: rgba(253, 253, 255, 0.52);
    backdrop-filter: blur(4px);
    border-radius: 20px;
    margin-top: -3rem;
    @include media('<=small-desktop') {
      height: 79.6rem;
      width: 94%;
    }
  }

  &__title {
    color: var.$orange;
    font: var.$h2-roboto-regular;
    text-align: center;
    margin: 4.1rem 0 3rem 0.4rem;
    @include media('<=small-desktop') {
      margin: 3.2rem 0 2.1rem 0;
    }
  }

  &__subtitle-one {
    font: var.$subtitle-roboto-regular;
    color: #333B41;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0 0 4rem 9.9rem;
    @include media('<=small-desktop') {
      margin: 0 0 2rem 4.8rem;
    }
  }

  &__par-one {
    font: var.$body-roboto-regular;
    line-height: 130%;
    font-weight: 500;
    margin: 0 0 1.1rem 9.9rem;
    @include media('<=small-desktop') {
      margin: 0 8rem 1.1rem 4.9rem;
    }
  }

  &__par-two {
    font: var.$body-roboto-regular;
    line-height: 130%;
    margin: 0 20rem 6.2rem 9.9rem;
    @include media('<=small-desktop') {
      margin: 0 6.2rem 1.1rem 4.9rem;
      padding-right: 2rem;
      line-height: 21.8px;
    }
  }

  &__link-donate {
    text-decoration: none;
    font: inherit;
    color: #333B41;
    padding-bottom: 0.2rem;
    border-bottom: 1px solid var.$orange;
    @include media('<=small-desktop') {
      padding-bottom: 0.1rem;
    }
  }

  &__subtitle-two {
    font: var.$h3-roboto-regular;
    text-align: center;
    margin-bottom: 4rem;
    @include media('<=small-desktop') {
      padding-top: 0.3rem;
      margin-bottom: 4.1rem;
    }
  }

  &__container-images {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    width: 76.4rem;
    @include media('<=small-desktop') {
      width: 81.2%;
    }

  }

  &__card-container {
    width: 16.8rem;
    height: 16.8rem;
    z-index: 3;
    border-radius: 5px;
    border: 1px solid var.$orange;
    margin-bottom: 12rem;
    position: relative;
    display: flex;
    background-color: white;

    &:first-child .feed-friend__card-text {
      bottom: -6.9rem;
    }

    &:not(first-child) .feed-friend__card-text {
      bottom: -9.1rem;
    }
  }

  &__card-text {
    position: absolute;
    font: var.$body-roboto-regular;
    line-height: 140%;
  }

  &__image {
    margin: auto;
  }

  &__arrow-container {
    display: flex;
    margin-bottom: 13.1rem;
  }

  &__arrow {

  }

  &__btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__btn {
    position: absolute;
    margin-top: 1.6rem;
    @include media('<=small-desktop') {
      margin-top: 2.6rem;
    }

    @include media('<=755px') {
      margin-top: 0;
    }
  }
}
