@use "../../abstracts/var";

.header-home {
  display: flex;

  .nav-panel {
    width: 100%;
    height: 8rem;
    position: absolute;
    top: 0;
    left: 0;
    background: #000000;
    backdrop-filter: blur(4px);
    z-index: 2;
  }

  .nav {
    z-index: 3;
    width: 100%;
    height: 8rem;
    display: flex;
    align-items: center;

    &__logo-link {
      margin-right: 6.3rem;
    }


    &__link {
      color: #fff;
      text-decoration: none;
      font: var.$body-btn-roboto;
      text-align: center;
    }

    &__list {
      height: 100%;
      width: 52.6rem;
      list-style: none;
      display: flex;
      padding: 0;
      justify-content: space-between;
      align-items: center;
    }

    &__item {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 1rem;
      line-height: 140%;
      color: #FFFFFF;
    }
  }

  .background-photo {
    width: 100%;
    height: 78rem;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/photos/Panda.jpg") no-repeat center center;
    background-size: cover;
    z-index: 1;
  }

  .circle {
    position: absolute;
    z-index: 3;
    width: 46.5rem;
    height: 46.5rem;
    border-radius: 50%;
    left: calc(50% - 465px / 2 + 239.5px);
    top: 92px;
    opacity: 0.8;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  }

  .title {
    position: absolute;
    z-index: 3;
    width: 50rem;
    height: 40rem;
    left: calc(58.4% - 8.9rem);
    top: 7.5%;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font: var.$h1-roboto-bold;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

    &__favorite {
      color: #ffee2e;
    }
  }

  .btn--watch-online {
    position: absolute;
    left: calc(50% + 183px);
    top: 626px;
  }
}

.header-title {
  position: absolute;
  transform: scale(0);
}




