@use '../../abstracts/var';
@import "../../vendors/include-media";

.photo-section {
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3rem;
  grid-row-gap: 2.2rem;
  justify-content: space-between;
  align-content: space-between;
  position: relative;

  &__container {
    border: 1px solid #FE9013;
    border-radius: 5px;
    overflow: hidden;
    background-color: orange;
    z-index: 5;
    position: relative;
  }

  &__photo-container {
    overflow: hidden;
    margin: 0;
    padding: 0;

    &:hover .photo-section__photo {
      transform: scale(1.1);
      -webkit-filter: brightness(40%);
      filter: brightness(40%);
    }

    &:hover .photo-section__text-float {
      transform: translateY(-170%);
      opacity: 1;
    }
  }

  &__photo {
    height: 36.4rem;
    width: 100%;
    z-index: -2;
    transition: transform 0.25s ease-in-out;
  }

  &__text-float {
    position: absolute;
    z-index: 10;
    width: 100%;
    top: 80%;
    opacity: 0;
    transition: all 0.4s ease-in-out;

    &__animal {
      color: #fff;
      font: var.$h2-roboto-regular;
      text-align: center;
      margin: 0;
    }

    &__place {
      color: #fff;
      font: var.$subtitle-roboto-regular;
      text-align: center;
      margin-bottom: 2rem;
    }
  }

  &__title {
    z-index: 5;
    text-transform: uppercase;
    font: var.$body-btn-roboto;
    margin-left: 1.5rem;
    margin-top: 0.4rem;
  }

  &__text {
    font: var.$small-paragraph;
    margin-left: 1.4rem;
  }

  &__btn-left,
  &__btn-right {
    position: absolute;
    width: 6.2rem;
    height: 6.2rem;
    border-radius: 50%;
    top: 46.3%;
  }

  &__btn-left {
    background: url(../images/icons/arrow-left.svg) #f9804b center no-repeat;
    left: -8.3rem;
    @include media('<=1323px') {
      left: -2rem;
    }
  }

  &__btn-right {
    background: url(../images/icons/arrow-right.svg) #f9804b center no-repeat;
    right: -8.3rem;
    @include media('<=1323px') {
      right: -2rem;
    }
  }
}