@import '../vendors/include-media.scss';

html {
  box-sizing: border-box;
  font-size: 62.5%;

}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
