:root {
  --left-minus: 0%;
  --left-plus: 0%;
}

.to-left {
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-name: left;
}

.to-right {
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-name: right;
}

.from-right {
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-name: left;
  animation-direction: reverse;
}

@keyframes left {
  from {
    left: var(--left-minus);
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: var(--left-plus);
  }
  to {
    left: 100%;
  }
}
