@use '../abstracts/var';
@import "../vendors/include-media";

.footer {
  display: flex;
  align-items: center;

  &__background {
    background: #111115;
    position: absolute;
    width: 100%;
    left: 0;
    height: 44.3rem;
    z-index: -1;
    @include media('<=tablet') {
      height: 28.2rem;
    }
    @include media('<=mobile') {
      height: 54rem;
    }
  }

  &__image-container {
    background: url("../images/photos/leav_foto.png") no-repeat;
    width: 24.5rem;
    height: 30rem;
    right: 0;
    top: 426rem;
    @include media('<=1329px') {
      top: 419rem;
    }
    @include media('<=1100px') {
      top: 442rem;
    }

    @include media('<=small-desktop') {
      background: url("../images/photos/leav_foto-small-desktop.png") no-repeat;
      top: 380.5rem;
      width: 19.6rem;
      right: -1.4rem;
    }
    @include media('<=tablet') {
      background: url("../images/photos/leav_tablet.png") no-repeat;
      top: 316.4rem;
      width: 11.5rem;
      right: 0;
    }
    @include media('<=mobile') {
      background: url("../images/photos/leav_foto_mobile.png") no-repeat;
      top: 387.4rem;
      width: 5.1rem;
      height: 7.3rem;
      filter: none;
    }
  }

  &__image-rotated {
    background: url("../images/photos/leav_rotated.png") no-repeat;
    width: 21.8rem;
    height: 25rem;
    right: 0;

  }

  &__container-main {
    height: 35.2rem;
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    @include media('<=small-desktop') {
      width: 95%;
      margin-left: 4.4rem;
    }
    @include media('<=tablet') {
      margin: 0 auto;
      height: 25.9rem;
      width: 93.7%;
      position: relative;
    }
  }

  &__logo {
    @include media('<=tablet') {
      margin-left: 0.2rem;
      margin-top: 0.2rem;
      border: 2px solid white;
      padding-bottom: 0.3rem;
    }
    @include media('<=mobile') {
      display: none;
    }
  }

  &__logo-mobile {
    display: none;
    @include media('<=mobile') {
      display: inline-block;
      position: absolute;
      top: -47%;
      right: 28.9%;
    }
  }

  &__container-top {
    height: 8.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.5rem;
    @include media('<=small-desktop') {
      margin-top: -0.1rem;
    }
    @include media('<=tablet') {

    }
  }

  &__subscribe-form {
    height: 100%;
    width: 36.8rem;
    @include media('<=small-desktop') {
      margin-right: 2.8rem;
    }
    @include media('<=tablet') {
      display: none;
    }
    @include media('<=mobile') {
      display: inline-block;
      margin-right: 0;
      margin-left: 3.8rem;
    }

    &:invalid .footer__btn-submit {
      color: red;
    }

    &:invalid .footer__subscribe-input {
      color: red;
    }
  }

  &__subscribe-title {
    font: var.$subtitle-roboto-regular;
    color: #fff;
    margin: 0 0 1.4rem 0;

    @include media('<=mobile') {
      font-size: 16px;
      margin-left: 2.9rem;
    }
  }

  &__subscribe-input {
    width: 22.8rem;
    height: 4.2rem;
    border: 1px solid var.$orange;
    background: #111115;
    display: inline-block;
    margin-right: 0.7rem;
    color: #fff;
    font: var.$body-roboto-regular;

    &::placeholder {
      font: var.$body-roboto-regular;
      line-height: 140%;
      color: #bdbdbd;
      padding-left: 0.8rem;
    }
  }

  &__btn-submit {
    display: inline-block;
    width: 12.9rem;
    height: 4.2rem;
    background: #F1F3F2;
    border: 1px solid #4B9200;
    border-radius: 5px;
    vertical-align: top;
    color: #4b9200;
    text-transform: none;

    @include media('<=mobile') {
      margin-top: 0.9rem;
      margin-left: 4.9rem;
    }

    &:hover {
      background: #F1F3F2;
      border: 2px solid orange;
      border-radius: 5px;
    }
  }

  &__btn-donate {
    border-radius: 0.5rem;
    margin-bottom: 4.7rem;
    @include media('<=tablet') {
      position: absolute;
      top: 33%;
    }

    @include media('<=394px') {
      width: 88%;
    }


    @include media('<=mobile') {
      position: absolute;
      width: 29.8rem;
      top: 64%;
    }
  }

  &__container-bottom {
    width: 100%;
    height: 13.1rem;
    display: flex;
    justify-content: space-between;
    @include media('<=639px') {
      margin-bottom: 4rem;
    }
    @include media('<=mobile') {
      margin-bottom: 0;
    }
  }


  &__designed-by {
    height: 100%;
    width: 23rem;
    font: var.$body-roboto-regular;
    font-weight: 200;
    color: #fff;
  }

  &__socials {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 23rem;
    @include media('<=tablet') {
      width: auto;
      position: absolute;
      height: 16.4rem;
      right: 0;
      top: 0;
    }
    @include media('<=mobile') {
      flex-direction: row;
      width: 19.4rem;
      position: absolute;
      top: -53%;
      right: 18%;
    }

  }

  &__link-socials {
    text-decoration: none;
    display: flex;
    color: white;
    align-items: center;
    font: var.$body-roboto-regular;
    @include media('<=tablet') {
      font-size: 0;
    }

    &:hover {
      color: #4B9200;
    }

    &:hover .footer__icon {
      background: #4B9200;
    }
  }

  &__icon {
    width: 2.6rem;
    height: 2.6rem;
    background: #999999;
    z-index: 3;
    border-radius: 50%;
    margin-right: 1.2rem;
    @include media('<=tablet') {
      margin-right: 0;
    }
  }

  &__nav {
    height: 100%;
    width: 36.2rem;
    display: flex;
    align-items: flex-end;
    @include media('<=small-desktop') {
      width: 33.2rem;
      margin-right: 2.8rem;
    }
    @include media('<=tablet') {
      width: 49.5%;
      margin-right: 2.6rem;
      margin-left: 0.1rem;
      transform: translateY(0.8rem);
    }
    @include media('<=450px') {
      width: 27.8rem;
      margin-right: 0.6rem;
      margin-left: 0.1rem;
      transform: translateY(0.8rem);
    }

    @include media('<=mobile') {
      margin-right: 2.6rem;
      width: 27.8rem;
      position: absolute;
      top: 33.1rem;
      margin-left: 1.1rem;
      height: 3rem;
    }
  }

  &__nav-list {
    width: 100%;
    display: flex;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0.2rem;
    justify-content: space-between;
    list-style: none;
  }

  &__nav-link {
    text-decoration: none;
    font: var.$body-roboto-regular;
    color: #fff;

    &:hover {
      text-decoration: underline;
    }
  }

  &__designed-by {
    height: 100%;
    width: 23.0rem;
    font: var.$body-roboto-regular;
    line-height: 20.8px;
    font-weight: 200;
    color: #fff;
    margin-top: -0.3rem;
    margin-right: -0.2rem;
    @include media('<=836px') {
      margin-left: 1rem;
    }

    @include media('<=tablet') {
      width: 38.7%;
      margin-left: 0;
    }

    @include media('<=mobile') {
      width: 21.7rem;
      height: 4rem;
      position: absolute;
      top: 66%;
      margin-left: 8.3rem;
    }
  }

  &__designer-name {
    margin: 8.3rem 0 0;

    @include media('<=tablet') {
      margin: 9.1rem 0 0 0.2rem;
    }
    @include media('<=tablet') {
      margin: 9.1rem 0 0 0.2rem;
    }

    @include media('<=423px') {
      font-size: 10px;
    }
    @include media('<=mobile') {
      font-size: 15px;
    }
  }

  &__copyright {
    margin: 1.1rem 0 0;
    @include media('<=tablet') {
      margin-left: 0.2rem;
    }
    @include media('<=423px') {
      font-size: 10px;
      margin-top: 0;
    }
    @include media('<=mobile') {
      font-size: 15px;
      margin-top: 1.1rem;
      margin-right: 0;
    }
  }
}
