@use '../abstracts/var';

.footer {
  display: flex;
  align-items: center;

  &__background {
    background: #111115;
    position: absolute;
    width: 100%;
    left: 0;
    height: 44.3rem;
    z-index: -1;
  }

  &__image-container {
    background: url("../images/photos/leav_foto.png") no-repeat;
    width: 24.5rem;
    height: 100%;
    right: 0;
    top: 426rem;
  }

  &__container-main {
    height: 35.2rem;
    width: 100%;
    background-color: orange;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
  }

  &__container-top {
    height: 8.5rem;
    width: 100%;
    background-color: lightgreen;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.5rem;
  }

  &__subscribe-container {
    height: 100%;
    width: 36.7rem;
  }

  &__subscribe-title {
    font: var.$subtitle-roboto-regular;
    color: #fff;
    margin: 0 0 1.4rem 0;
  }

  &__subscribe-input {
    width: 22.8rem;
    height: 4.2rem;
    border: 1px solid var.$orange;
    background: #111115;
    display: inline-block;
    margin-right: 0.7rem;

    &::placeholder {
      font: var.$body-roboto-regular;
      line-height: 140%;
      padding: 0.7rem;
      color: #bdbdbd;
    }
  }

  &__btn-submit {
    display: inline-block;
    width: 12.9rem;
    height: 4.2rem;
    background: #F1F3F2;
    border: 1px solid #4B9200;
    border-radius: 5px;
    vertical-align: top;
    color: #4b9200;
    text-transform: none;
  }

  &__btn-donate {
    border-radius: 0.5rem;
    margin-bottom: 4.3rem;
  }

  &__container-bottom {
    width: 100%;
    height: 13.7rem;
    background-color: green;
    display: flex;
    justify-content: space-between;
  }

  &__social {
    height: 100%;
    width: 22.7rem;
    background: #bdbdbd;
  }

  &__nav {
    height: 100%;
    width: 36.2rem;
    background: lightgreen;
  }

  &__designed-by {
    height: 100%;
    width: 22.7rem;
    background: violet;
  }
}