@use "../abstracts/var" as *;
@import "../vendors/include-media";


.donate-page {
  background: $orange_grad;

  .footer {
    &__container-main {
      @include media('<=small-desktop') {
        margin-left: 2.6rem;
      }
    }
    &__logo {
      margin-top: -0.3rem;
    }

    &__nav{
      margin-right: 0;
    }

  }





  .nav {
    @include media('<=1200px') {
      padding-left: 2rem;
    }
    @include media('<=small-desktop') {
      padding-left: 0;
      margin-left: -0.5rem;
    }
  }


  .panda-background {
    background: url("../images/photos/panda_donate.jpg") no-repeat;
    width: 100%;
    height: 38.7rem;
    left: 0;
    top: 8rem;
    z-index: 5;
    background-size: cover;

    @include media('<=small-desktop') {
      background: url("../images/photos/panda_donate_small_desktop.jpg") no-repeat;
      height: 39rem;
    }


  }
}

.donate-page .footer__image-container {
  display: none;
}

.donate-main {
  position: relative;

  .donate-info {
    width: 100%;
    height: 28.6rem;
    top: 39rem;
    margin-top: 39rem;
    display: inline-block;
    @include media('<=1200px') {
      padding-left: 2.4rem;
      padding-right: 3rem;
      margin-top: 39.5rem;
    }


    &__header {
      color: #fff;
      font: $h3-roboto-regular;
      padding: 1rem 0.1rem;
      margin-top: 2.5rem;
      margin-bottom: 0;
      @include media('<=small-desktop') {
        padding-right: 10rem;
        margin-bottom: 2rem;

      }
    }

    &__text {
      margin: 0;
      font: $body-btn-roboto;
      color: #fff;
      margin-bottom: 4.6rem;
      @include media('<=small-desktop') {
        margin-left: 0.3rem;
      }
    }

    &__subtitle {
      font: $h3-roboto-regular;
      color: rgba(254, 144, 19, 1);

    }
  }

  .section-donate {
    width: 100%;
    height: 96.4rem;
    margin-top: 5rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(4px);

    @include media('<=small-desktop') {
      width: 95.5%;
      height: 91.8rem;
      margin: 4.8rem auto 0;
    }

    &__title {
      font: $h2-roboto-regular;
      text-align: center;
      color: rgba(254, 144, 19, 1);
      margin-bottom: 0;
      margin-right: 1.2rem;
      @include media('<=small-desktop') {
        margin-top: 2.1rem;
      }
    }

    &__info {
      font: $subtitle-roboto-regular;
      margin-bottom: 1rem;
      align-self: flex-start;
      margin-left: 9.3rem;
      margin-top: 2.1rem;
      @include media('<=small-desktop') {
        align-self: center;
        margin-top: 1.3rem;
        margin-left: 0.1rem;
      }
    }

    &__animal-container {
      margin-top: 4.5rem;
      width: 52rem;
      height: 25rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      @include media('<=small-desktop') {
        margin-top: 4.7rem;
      }
    }

    &__x-icon {
      width: 1.4rem;
      margin-top: 3rem;
      margin-left: 0.6rem;
    }

    &__figure {
      margin-left: 4.7rem;
      margin-bottom: 4.5rem;
      display: block;
      font: $h1-roboto-bold;
      font-size: 72px;
      font-weight: 500;
      line-height: 80%;
    }

    &__diet-info {
      position: absolute;
      font: $body-roboto-regular;
      bottom: 14.2%;
      left: -2.3%;
      @include media('<=small-desktop') {
        bottom: 16%;
      }
    }

    &__amount-title {
      position: absolute;
      font: $body-roboto-regular;
      bottom: -33.4%;
      left: -43%;
      @include media('<=small-desktop') {
        bottom: -31.9%;
        left: -27.5%;
      }
    }

    &__amount-container {
      margin-top: 8.5rem;
      width: 97.6rem;
      height: 3rem;
      background-color: rgba(64, 73, 80, 1);
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 2.1rem 0 1.8rem;
      border-radius: 0.5rem;
      margin-bottom: 10.6rem;

      @include media('<=small-desktop') {
        width: 86.1%;
        height: 2.7rem;
        margin-top: 8.3rem;
        margin-left: 0.4rem;
        padding: 0;
      }


      &:after {
        position: absolute;
        content: '';
        width: 91rem;
        height: 0.2rem;
        background-color: #72828e;;
        left: 3.4%;
        bottom: 45.5%;
        display: inline-block;

        @include media('<=small-desktop') {
          width: 95.4%;
          left: 2.1%;
        }
      }
    }


    &__amount-picker {
      position: relative;

      &:checked:after {
        position: absolute;
        content: '';
        width: 5rem;
        height: 5rem;
        background: url('../images/icons/roller_icon.svg') center no-repeat;
        left: -34.6%;
        top: -34%;
        border-radius: 50%;
      }

      &:before {
        position: absolute;
        content: '';
        top: 151%;
        left: -90%;
        font: $subtitle-roboto-regular;
        font-size: 2.6rem;
        @include media('<=small-desktop') {
          top: 150%;
        }
      }

      &:nth-child(1) {
        @include media('<=small-desktop') {
          display: none;
        }
      }

      &:nth-child(1):before {
        content: '$5000';
        left: -67.3%;
        @include media('<=small-desktop') {
          display: none;
        }
      }

      &:nth-child(2):before {
        content: '$2000';
        left: -67.3%;
        @include media('<=small-desktop') {
          left: -0.3%;
        }
      }

      &:nth-child(3):before {
        content: '$1000';
        left: -67.3%;
        @include media('<=small-desktop') {
          left: -5%;
        }
      }

      &:nth-child(4):before {
        content: '$500';
        left: -61.3%;
        @include media('<=small-desktop') {
          left: -5.5%;
        }
      }

      &:nth-child(5):before {
        content: '$250';
        left: -61.3%;
        @include media('<=small-desktop') {
          left: -5.5%;
        }
      }

      &:nth-child(6):before {
        content: '$100';
        left: -61.3%;
        @include media('<=small-desktop') {
          left: -5.5%;
        }
      }

      &:nth-child(7):before {
        content: '$50';
        left: -59%;
        @include media('<=small-desktop') {
          left: -5.5%;
        }
      }

      &:nth-child(8):before {
        content: '$25';
        left: -59%;
        @include media('<=small-desktop') {
          left: -5.5%;
        }
      }
    }

    &__form {
      width: 97.7rem;
      height: 18.8rem;
      @include media('<=small-desktop') {
        width: 94.2%;
      }
    }

    &__input {
      width: 26.8rem;
      height: 5.4rem;
      border: 1px solid #929699;
      border-radius: 2px;
      position: relative;
      -moz-appearance: textfield;
      font: $body-roboto-regular;
      font-weight: bold;
      padding-left: 1rem;
      outline-color: orange;
      @include media('<=small-desktop') {
        margin-top: 0.2rem;
      }

      &::placeholder {
        color: #929699;
        font-weight: normal;
      }
    }

    /*------ remove arrows from input ----------*/
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /*-------------------------------------------*/

    &__input-wrapper {
      position: relative;
      margin-bottom: 0.3rem;


      i {
        position: absolute;
        font: $body-roboto-regular;
        font-size: 2.2rem;
        font-weight: bold;
        color: #929699;
        display: block;
        transform: translate(24rem, -50%);
        top: 50%;
        pointer-events: none;
        width: 25px;
        text-align: center;
        font-style: normal;
      }
    }

    &__section-radio-btn {
      width: 100%;
      height: 2.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 0.6rem;
      margin-left: 0.2rem;
      @include media('<=small-desktop') {
        margin-left: 0.4rem;
      }
    }

    &__label {
      font: $body-roboto-regular;
      padding-left: 1rem;
      margin-right: 2rem;

      &:nth-child(2) {
        display: block;
        margin-right: 5rem;
      }
    }

    &__radio-btn {
      background: none;
      width: 1rem;
      height: 1rem;
      padding: 0.6rem;
      border: 2px solid rgba(254, 144, 19, 1);

      &:focus {
        background-color: $green;
      }
    }

    &__btn {
      position: absolute;
      margin-top: 3.9rem;
      left: 50.3%;
      transform: translateX(-50%);
      @include media('<=small-desktop') {
        left: 50.6%;
      }
    }

    &__share-text {
      margin-top: 2rem;
      margin-left: 0.4rem;
      font: $body-roboto-regular;
      @include media('<=small-desktop') {
        margin-top: 2.2rem;
      }
    }
  }

}


