.eagle-page {
  .footer__image--default {
    background: url("../images/footer/eagle.jpg") no-repeat;
    width: 100%;
    height: 39rem;
    left: 0;
    background-size: cover;
    transform: translateY(-106%);
  }

  .footer__image-rotated {
    top: 281rem;
  }

  .strelitzia-image-default {
    top: 274rem;
  }

  .eagle-page-break {

  }
}