.gorilla-page {
  .footer__image--default {
    background: url("../images/footer/gorilla.jpg") no-repeat;
    width: 100%;
    height: 39rem;
    left: 0;
    transform: translateY(-106%);
    background-size: cover;
  }

  .footer__image-rotated {
    top: 410rem;
  }

  .strelitzia-image-default {
    top: 402rem;
  }

}