@import "../vendors/include-media";


.map-page {
  background-color: #e2ecf1;
}

.header-home.header-map {
  height: 8rem;
}

.map-page .footer__image-container {
  display: none;
}

.map-main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 116rem;
  width: 100%;

  @include media('<=tablet') {
    width: 100%;
  }

  &__container {
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-bottom: 1.9rem;
  }

  .map-main__map {
    width: 108rem;
    height: 91.7rem;
  }


  &__eagles-container {
    z-index: 5;
    cursor: pointer;
    position: absolute;
    left: 10.9%;
    top: 48.4%;
  }

  &__eagle-one {
    width: 4.4rem;
    position: absolute;
    left: -47%;
    top: 42%;
  }

  &__eagle-two {
    width: 5rem;
    position: absolute;
    left: 17%;
    top: 99%;
  }

  &__alligator-container {
    position: absolute;
    left: 21.6%;
    top: 50.4%;
  }

  &__alligator {
    position: absolute;
    left: 25%;
    top: 95%;
    width: 7.5rem;
  }

  &__gorilla-container {
    position: absolute;
    left: 48.3%;
    top: 60%;
  }

  &__gorilla {
    width: 5rem;
    position: absolute;
    left: 30%;
    top: 90%;
  }

  &__panda-one-container {
    z-index: 10;
    position: absolute;
    left: 77%;
    top: 45.3%;
  }

  &__panda-one {
    width: 3.7rem;
    position: absolute;
    left: -25%;
    top: 27.5%;
  }

  &__panda-two-container {
    position: absolute;
    left: 76.5%;
    top: 50.6%;
  }

  &__panda-two {
    width: 4.6rem;
    position: absolute;
    left: -28%;
    top: 50.6%;
  }

  &__btn-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 11.5rem;
    justify-content: space-between;
    position: absolute;
    right: 2.4%;
    top: 124.6%;
  }

  &__map-btn {
    width: 5.4rem;
    height: 5.4rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    outline: none;
    transition: all 0.15s ease-out;

    &:hover {
      background-color: rgba(75, 176, 0, 0.2);
      border-radius: 1rem;
      border: 1px solid #4B9200;
      cursor: pointer;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}


