@import "../vendors/include-media";


.map-page {
  background-color: #e2ecf1;
}

.header-home.header-map {
  height: 8rem;
}

.map-page .footer__image-container {
  display: none;
}

.map-main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 116rem;
  width: 100%;

  &__container {
    width: 93.4%;
    height: fit-content;
    position: relative;
    margin-bottom: 1.6rem;
    margin-left: 1rem;
    margin-top: 0.4rem;
    @include media('<=small-desktop') {
      margin-top: 3.6rem;
      margin-bottom: -1.4rem;
      margin-left: 0.6rem;
    }
  }

  .map-main__map {
    width: 100%;
    height: 91.7rem;
    @include media('<=small-desktop') {
      height: 72.4rem;
      width: 101.9%;
    }
    @include media('<=927px') {
      height: 64rem;
    }
    @include media('<=844px') {
      height: 56rem;
    }
    @include media('<=755px') {
      height: 50rem;
    }
    @include media('<=696px') {
      height: 45rem;
    }
  }

  &__eagles-container {
    z-index: 5;
    cursor: pointer;
    position: absolute;
    left: 10.9%;
    top: 48.4%;
    @include media('<=small-desktop') {
      left: 10.2%;
      top: 47.4%
    }
  }

  &__eagle-one {
    width: 4.4rem;
    position: absolute;
    left: -47%;
    top: 42%;
    @include media('<=small-desktop') {
      transform: scale(0.9);
      left: -35%;
    }
    @include media('<=844px') {
      transform: scale(0.8);
    }
  }

  &__eagle-two {
    width: 5rem;
    position: absolute;
    left: 17%;
    top: 94%;
    @include media('<=small-desktop') {
      transform: scale(0.9);
    }
    @include media('<=844px') {
      transform: scale(0.8);
      top: 64%;
    }
  }

  &__alligator-container {
    position: absolute;
    left: 21%;
    top: 50%;
    @include media('<=small-desktop') {
      top: 49%;
      left: 20.5%;
    }
  }

  &__alligator {
    position: absolute;
    left: 25%;
    top: 95%;
    width: 7.5rem;
    @include media('<=small-desktop') {
      transform: scale(0.9);
    }
    @include media('<=844px') {
      transform: scale(0.8);
      top: 65%;
    }
  }

  &__gorilla-container {
    position: absolute;
    left: 48.3%;
    top: 59.8%;
    @include media('<=small-desktop') {
      left: 48.4%;
      top: 59.1%;
    }

  }

  &__gorilla {
    width: 5rem;
    position: absolute;
    left: 30%;
    top: 90%;
    @include media('<=small-desktop') {
      transform: scale(0.9);
    }
    @include media('<=844px') {
      top: 65%;
      transform: scale(0.8);
    }
    @include media('<=682px') {
      top: 45%;
    }
  }

  &__panda-one-container {
    z-index: 10;
    position: absolute;
    left: 76.8%;
    top: 44.6%;
    @include media('<=small-desktop') {
      left: 78%;
      top: 43.6%;
    }
  }

  &__panda-one {
    width: 3.7rem;
    position: absolute;
    left: -25%;
    top: 27.5%;
    @include media('<=small-desktop') {
      transform: scale(0.9);
    }
    @include media('<=844px') {
      top: 0;
      left: -30%;
      transform: scale(0.8);
    }
  }

  &__panda-two-container {
    position: absolute;
    left: 76.3%;
    top: 50.3%;
    @include media('<=small-desktop') {
      left: 77.4%;
      top: 50%;
    }
  }

  &__panda-two {
    width: 4.6rem;
    position: absolute;
    left: -28%;
    top: 50.6%;
    @include media('<=small-desktop') {
      transform: scale(0.9);
    }
    @include media('<=844px') {
      top: 15%;
      left: -38%;
      transform: scale(0.8);
    }
  }

  &__sticky-wrapper {
    position: absolute;
    width: 5.4rem;
    height: 97.2%;
    left: 114.8%;
    top: 0;
    @include media('<=1555px') {
      left: 96.9%;
    }
    @include media('<=small-desktop') {
      height: 95.1%;
    }
    @include media('<=820px') {
      left: 92.9%;
    }
    @include media('<=tablet') {
      display: none;
    }
  }

  &__btn-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 11.7rem;
    justify-content: space-between;
    position: sticky;
    top: 500px;
    @include media('<=820px') {
      transform: scale(0.8);
    }


  }

  &__map-btn {
    width: 5.4rem;
    height: 5.4rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    outline: none;
    transition: all 0.15s ease-out;
    border-radius: 0.5rem;

    &:hover {
      background-color: rgba(75, 176, 0, 0.2);
      border-radius: 1rem;
      border: 1px solid #4B9200;
      cursor: pointer;
    }

    &:active {
      transform: scale(0.9);
    }
  }
}


