@import "../vendors/include-media";


.map-page {
  background-color: #e2ecf1;


  .footer {
    &__container-main {
      @include media('<=small-desktop') {
        margin-left: 3.3rem;
      }
      @include media('<=980px') {
        margin-left: 4.4rem;
      }
      @include media('<=tablet') {
        margin: 0 2.1rem;
      }
      @include media('<=400px') {
        margin: 0;
      }
      @include media('<=mobile') {
        margin-left: 1rem;
      }
    }

    &__nav {
      margin-right: 0;
      @include media('<=450px') {
        width: 26rem;
        margin-right: 0.5rem;
        margin-left: 0.3rem;
      }
      @include media('<=mobile') {
        width: 27.8rem;
        margin-right: 0rem;
        margin-left: 1.1rem;
      }
    }

    @include media('<=980px') {
      margin-left: 2.8rem;
    }
    @include media('<=890px') {
      margin-left: 0;
    }

  }
}

.header-home.header-map {
  height: 8rem;
}

.map-page .footer__image-container {
  display: none;
}

.map-main {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 116rem;
  width: 100%;

  &__container {
    width: 93.4%;
    height: fit-content;
    position: relative;
    margin-bottom: 1.6rem;
    margin-left: 1rem;
    margin-top: 0.4rem;
    @include media('<=small-desktop') {
      margin-top: 3.6rem;
      margin-bottom: -1.4rem;
      margin-left: 0.6rem;
    }

    @include media('<=tablet') {
      margin-top: 2.8rem;
      margin-bottom: -0.7rem;
      margin-right: 1.5rem;
      width: 91%;
    }
    @include media('<=mobile') {
      overflow: hidden;
      width: 100%;
      margin: 0;
    }
  }

  .map-main__map {
    width: 100%;
    height: 91.7rem;
    @include media('<=small-desktop') {
      height: 72.4rem;
      width: 101.9%;
    }
    @include media('<=927px') {
      height: 64rem;
    }
    @include media('<=844px') {
      height: 56rem;
    }
    @include media('<=755px') {
      height: 50rem;
    }
    @include media('<=696px') {
      height: 45rem;
    }
    @include media('<=602px') {
      height: 40rem;
    }
    @include media('<=470px') {
      height: 37rem;
    }
    @include media('<=400px') {
      height: 32rem;
    }
    @include media('<=mobile') {
      height: 32.4rem;
      width: 126.8%;
      margin-left: -2.6rem;
      margin-top: 1rem;
      margin-bottom: -1.3rem;
    }
  }

  &__eagles-container {
    z-index: 5;
    cursor: pointer;
    position: absolute;
    left: 10.9%;
    top: 48.4%;
    @include media('<=small-desktop') {
      left: 10.2%;
      top: 47.4%
    }
    @include media('<=tablet') {
      top: 44.4%
    }
    @include media('<=500px') {
      top: 41%;
      left: 9.2%;
    }
    @include media('<=400px') {
      top: 38%;
      left: 9.2%;
    }

    @include media('<=mobile') {
      left: 5.2%;
      top: 44.4%
    }
  }

  &__eagle-one {
    width: 4.4rem;
    position: absolute;
    left: -47%;
    top: 42%;
    @include media('<=small-desktop') {
      transform: scale(0.9);
      left: -35%;
    }
    @include media('<=844px') {
      transform: scale(0.8);
    }
    @include media('<=tablet') {
      transform: scale(0.56);
      top: 34%;
      left: -31%;
    }
    @include media('<=mobile') {
      transform: scale(0.38);
      top: 33%;
      left: -37%;
    }
  }

  &__eagle-two {
    width: 5rem;
    position: absolute;
    left: 17%;
    top: 94%;
    @include media('<=small-desktop') {
      transform: scale(0.9);
    }
    @include media('<=844px') {
      transform: scale(0.8);
      top: 64%;
    }
    @include media('<=tablet') {
      transform: scale(0.56);
      top: 74%;
      left: -6%;
    }
    @include media('<=mobile') {
      transform: scale(0.38);
      top: 65%;
      left: -18%;
    }
  }

  &__alligator-container {
    position: absolute;
    left: 21%;
    top: 50%;
    @include media('<=small-desktop') {
      top: 49%;
      left: 20.5%;
    }
    @include media('<=tablet') {
      top: 47.4%
    }
    @include media('<=480px') {
      top: 44.4%
    }
    @include media('<=410px') {
      top: 44%
    }
    @include media('<=350px') {
      top: 42%
    }
    @include media('<=mobile') {
      left: 14.5%;
      top: 47.4%
    }
  }

  &__alligator {
    position: absolute;
    left: 25%;
    top: 95%;
    width: 7.5rem;
    @include media('<=small-desktop') {
      transform: scale(0.9);
    }
    @include media('<=844px') {
      transform: scale(0.8);
      top: 65%;
    }
    @include media('<=tablet') {
      transform: scale(0.56);
      top: 65%;
      left: -6%;
    }
    @include media('<=mobile') {
      transform: scale(0.38);
      top: 60%;
      left: -8%;
    }
  }

  &__gorilla-container {
    position: absolute;
    left: 48.3%;
    top: 59.8%;
    @include media('<=1050px') {
      top: 57.5%;
    }
    @include media('<=small-desktop') {
      left: 48.4%;
      top: 59.1%;
    }
    @include media('<=tablet') {
      left: 49.1%;
      top: 65.3%;
    }
    @include media('<=541px') {
      top: 62.3%;
    }
    @include media('<=470px') {
      top: 59.7%;
      transform: scale(0.8);
    }
    @include media('<=407px') {
      top: 57.3%;
    }
    @include media('<=mobile') {
      top: 65.3%;
    }
  }

  &__gorilla {
    width: 5rem;
    position: absolute;
    left: 30%;
    top: 90%;
    @include media('<=small-desktop') {
      transform: scale(0.9);
    }
    @include media('<=844px') {
      top: 65%;
      transform: scale(0.8);
    }
    @include media('<=682px') {
      top: 45%;
    }
    @include media('<=tablet') {
      transform: scale(0.56);
      top: 0;
      left: 0;
    }
    @include media('<=mobile') {
      transform: scale(0.45);
      left: 7%;
      top: 1%;
    }
  }

  &__panda-one-container {
    z-index: 10;
    position: absolute;
    left: 76.8%;
    top: 44.6%;
    @include media('<=small-desktop') {
      left: 78%;
      top: 43.6%;
    }
    @include media('<=tablet') {
      left: 75.5%;
    }
    @include media('<=560px') {
      left: 74%;
    }
    @include media('<=470px') {
      left: 73%;
    }
    @include media('<=400px') {
      left: 71%;
      top: 41.6%;
    }
    @include media('<=mobile') {
      left: 83.8%;
      top: 45%;
    }

    .tooltip-container {
      @include media('<=tablet') {
        display: none;
      }
    }
  }

  &__panda-one {
    width: 3.7rem;
    position: absolute;
    left: -25%;
    top: 27.5%;
    @include media('<=small-desktop') {
      transform: scale(0.9);
    }
    @include media('<=844px') {
      top: 0;
      left: -30%;
      transform: scale(0.8);
    }
    @include media('<=tablet') {
      transform: scale(0.56);
    }
    @include media('<=mobile') {
      transform: scale(0.38);
    }
  }

  &__panda-two-container {
    position: absolute;
    left: 76.3%;
    top: 50.3%;
    @include media('<=small-desktop') {
      left: 77.4%;
      top: 50%;
    }
    @include media('<=tablet') {
      left: 74.6%;
      top: 52%;
    }
    @include media('<=mobile') {
      left: 82%;
      top: 53.5%;
    }

    .tooltip-container {
      @include media('<=tablet') {
        display: none;
      }
    }

  }

  &__panda-two {
    width: 4.6rem;
    position: absolute;
    left: -28%;
    top: 50.6%;
    @include media('<=small-desktop') {
      transform: scale(0.9);
    }
    @include media('<=844px') {
      top: 15%;
      left: -38%;
      transform: scale(0.8);
    }
    @include media('<=tablet') {
      transform: scale(0.55);
    }
    @include media('<=mobile') {
      transform: scale(0.42);
    }
  }

  &__sticky-wrapper {
    position: absolute;
    width: 5.4rem;
    height: 97.2%;
    left: 114.8%;
    top: 0;
    @include media('<=1555px') {
      left: 96.9%;
    }
    @include media('<=small-desktop') {
      height: 95.1%;
    }
    @include media('<=820px') {
      left: 92.9%;
    }
    @include media('<=tablet') {
      display: none;
    }
  }


  &__btn-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 11.7rem;
    justify-content: space-between;
    position: sticky;
    top: 500px;
    @include media('<=820px') {
      transform: scale(0.8);
    }
    @include media('<=820px') {
      transform: scale(0.8);
    }
  }

  &__map-btn {
    width: 5.4rem;
    height: 5.4rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    outline: none;
    transition: all 0.15s ease-out;
    border-radius: 0.5rem;

    &:hover {
      background-color: rgba(75, 176, 0, 0.2);
      border-radius: 1rem;
      border: 1px solid #4B9200;
      cursor: pointer;
    }

    &:active {
      transform: scale(0.9);
    }
  }

}


