.panda-page {
  .footer__image--default {
    background: url("../images/footer/panda.jpg") no-repeat;
    width: 100%;
    height: 39rem;
    left: 0;
    top: 314rem;
    background-size: cover;
  }




}