@use "../abstracts/var" as *;
@import "../vendors/include-media";


.panda-page {
  position: relative;


  .side-bar {
    &--desktop {
      @include media('<=1580px') {
        display: none;
      }
    }

    &__before {
      @include media('<=1580px') {
        height: 1px;
      }
    }

    //---------- sidebar small desktop ----------------
    &--small-desktop {
      position: relative;
      height: 124rem;
      left: -0.5%;
      @include media('>=1580px') {
        display: none;
      }
      @include media('<=1200px') {
        left: 2%;

      }

      @include media('<=small-desktop') {
        left: 1.6%;
        height: 89rem;
        .side-bar__item:last-child {
          margin-bottom: -0.5rem;
        }


        @include media('<=mobile') {
          display: none;
        }


        .side-bar__item:first-child {
          margin-top: -0.5rem;
        }

        .side-bar__item:last-child .side-bar__icon {
          border: none;
        }

        .side-bar__nav {
          transform: translateY(-85px);
          height: 60.7rem;
          top: 0;
          margin-bottom: -17rem;
          @include media('<=tablet') {
            transform: translateY(-8px);
            position: static;
          }

          @include media('<=600px') {
            margin-bottom: -5rem;
          }
          @include media('<=450px') {
            transform: translateY(-75px);
            height: 57rem;
          }


          @include media('<=mobile') {
            height: 40rem;
          }

        }
        .side-bar__list {
          transform: scale(0.72);
        }
      }

      @include media('<=860px') {
        height: 70rem;

      }
      @include media('<=tablet') {
        left: 1%;
        height: 55.5rem;
      }

      @include media('<=520px') {
        left: 0
      }

      @include media('<=600px') {
        height: 40rem;
      }


    }


    // -----------------sidebar mobile ----------------
    &--mobile {
      display: none;
      position: absolute;

      @include media('<=mobile') {
        display: inline-block;
        top: 16.7rem;
        left: -0.9rem;
        transform: scale(0.87);
      }

      .side-bar__item:nth-child(4) {
        @include media('<=mobile') {
          display: none;
        }
      }

      .side-bar__item:nth-child(5) {
        @include media('<=mobile') {
          display: none;
        }
      }

      .side-bar__item:nth-child(6) {
        @include media('<=mobile') {
          display: none;
        }
      }

      .side-bar__item:last-child .side-bar__icon {
        border: none;
      }

      .side-bar__nav {
        height: 35rem;
        transform: scale(0.72);
        position: relative;

      }

      .side-bar__list {
        padding: 0.9rem 0;
        transform: scale(1.06);
      }
    }
  }


  .panda-main {
    position: relative;
    margin-left: 0.1rem;

    &__title {
      font: $h2-roboto-regular;
      margin: 0;
      padding: 4rem 0 1.5rem;
      @include media('<=1580px') {
        align-self: flex-start;
      }
      @include media('<=small-desktop') {
        padding: 2.1rem 0 1.4rem;
      }
      @include media('<=tablet') {
        padding: 2rem 0 1.1rem;
        font-size: 36px;
        line-height: 130%;
      }
      @include media('<=mobile') {
        padding: 2.1rem 0 1rem;
        font-size: 24px;
        line-height: 120%;
      }
    }

    &__video-section {
      position: relative;
      display: flex;
      justify-content: space-between;

      @include media('<=860px') {
        margin-bottom: 1rem;
      }

    }

    &__video-wrapper {
      width: 100%;
      @include media('<=1580px') {
        width: 77.8%;
        margin-right: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      @include media('<=small-desktop') {
        width: 79.1%;
        margin-right: 1.5rem;
      }
      @include media('<=tablet') {
        width: 77.3%;
        margin-right: 2rem;
      }
      @include media('<=mobile') {
        width: 100%;
        margin: 0 1rem;
      }
    }

    .video-container {
      width: 100%;
      margin-bottom: 8rem;
      position: relative;
      padding-bottom: 56.25%; /* 16:9 */
      height: 5rem;

      @include media('<=1580px') {
        margin-bottom: 6rem;
      }
      @include media('<=tablet') {
        margin-bottom: 2rem;
      }

      .iframe-main {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
      }
    }

    .preview-container {
      width: 100%;
      height: 21rem;
      position: relative;
      @include media('<=1580px') {
        width: 80%;
        height: 48rem;
        margin-top: 1rem;
      }
      @include media('<=small-desktop') {
        height: 21rem;
        width: 79.1%;
        align-self: flex-start;
        margin-top: 0;
      }
      @include media('<=tablet') {
        height: 14rem;
      }
      @include media('<=500px') {
        margin-top: 4rem;
        width: 100%;
      }
      @include media('<=mobile') {
        height: 14.7rem;
        width: 18.9rem;
        margin-top: 0;
        align-self: flex-end;
        margin-right: 2.8rem;
      }


      &__videos {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        z-index: 10;
        @include media('<=1580px') {
          align-content: space-between;
        }

        @include media('<=965px') {
          flex-wrap: nowrap;
        }
        @include media('<=mobile') {
          flex-wrap: wrap;
        }


        & iframe:nth-child(1) {
          @include media('<=small-desktop') {
            width: 29.3rem;
          }
          @include media('<=965px') {
            width: 46.1%;
          }
          @include media('<=tablet') {
            height: 14rem;
          }
          @include media('<=450px') {
            height: 12rem;
          }
          @include media('<=mobile') {
            width: 8.9rem;
            height: 6.8rem;
          }
        }

        & iframe:nth-child(2) {
          @include media('<=small-desktop') {
            width: 29.3rem;
          }
          @include media('<=965px') {
            width: 46.1%;
          }
          @include media('<=tablet') {
            height: 14rem;
          }
          @include media('<=450px') {
            height: 12rem;
          }
          @include media('<=mobile') {
            width: 8.9rem;
            height: 6.8rem;
          }
        }

        & iframe:nth-child(3) {
          @include media('<=small-desktop') {
            display: none;
          }
          @include media('<=mobile') {
            display: inline-block;
            width: 8.9rem;
            height: 6.8rem;
          }
        }

        & iframe:nth-child(4) {
          @include media('<=small-desktop') {
            display: none;
          }
          @include media('<=mobile') {
            display: inline-block;
            width: 8.9rem;
            height: 6.8rem;
          }
        }
      }

      &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include media('<=1580px') {
          align-content: space-between;
        }
        @include media('<=965px') {
          flex-wrap: nowrap;
        }
        @include media('<=mobile') {
          flex-wrap: wrap;
        }
      }

      &__title-wrapper {
        width: 26.7rem;
        height: 21rem;
        margin: 0;


        &:hover {
          cursor: pointer;
          background-color: blue;
          opacity: 0.2;
        }

        @include media('<=1580px') {
          margin: 0;
        }
        @include media('<=small-desktop') {
          width: 29.3rem;
        }

        @include media('<=mobile') {
          width: 8.9rem;
          height: 6.8rem;
        }

        &:nth-child(2) {
          @include media('<=965px') {
            margin-left: 4rem;
          }
          @include media('<=tablet') {
            margin-left: 3rem;
          }
          @include media('<=mobile') {
            margin-left: 0;
          }
        }

        &:nth-child(3) {
          @include media('<=small-desktop') {
            width: 26.7rem;
            display: none;
          }
          @include media('<=mobile') {
            width: 8.9rem;
            display: inline-block;
          }
        }

        &:nth-child(4) {
          @include media('<=small-desktop') {
            display: none;
          }
          @include media('<=mobile') {
            display: inline-block;
          }
        }


      }

      &__camera-title {
        width: 55px;
        height: 24px;
        left: 9px;
        top: 9px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 5px;
        color: #000;
        margin: 0.2rem;
        margin-top: 0.4rem;
        padding-top: 0.4rem;
        text-align: center;
        font: $body-roboto-regular;
        text-transform: uppercase;

        @include media('<=small-desktop') {
          margin-top: 0.9rem;
          margin-left: 1rem;
        }
        @include media('<=tablet') {
          transform: scale(0.7);
          margin-top: 0.1rem;
          margin-left: -0.3rem;
        }
        @include media('<=mobile') {
          transform: scale(0.35);
          margin-top: -0.6rem;
          margin-left: -1.5rem;
        }
      }

      &__btn-left,
      &__btn-right {
        position: absolute;
        width: 6.2rem;
        height: 6.2rem;
        border-radius: 50%;
        top: 34.6%;
        @include media('<=1580px') {
          top: 44%;
        }
        @include media('<=tablet') {
          transform: scale(0.7);
        }
        @include media('<=mobile') {
          display: none;
        }
      }

      &__btn-left {
        left: -7%;
        background: url(../images/icons/arrow-left.svg) #f9804b center no-repeat;
        @include media('<=1580px') {
          left: -12%;
        }
        @include media('<=small-desktop') {
          left: auto;
          right: -15%;
          top: 50%;
        }
        @include media('<=965px') {
          right: -20%;
        }
        @include media('<=tablet') {
          top: 45%;
          right: -20.8%;
        }
        @include media('<=500px') {
          top: -43%;
          right: 55%;
        }
      }

      &__btn-right {
        right: -7%;
        background: url(../images/icons/arrow-right.svg) #f9804b center no-repeat;
        @include media('<=1580px') {
          right: -12%;
        }
        @include media('<=small-desktop') {
          right: -15%;
          top: 15.7%;
        }
        @include media('<=965px') {
          right: -20%;
        }
        @include media('<=tablet') {
          top: 10%;
          right: -20.8%;
        }
        @include media('<=500px') {
          top: -43%;
          right: 26%;
        }
      }
    }

    .main-title {
      margin: 0;
      font: $h2-roboto-regular;
      font-weight: 500;
      color: $green;
      padding-top: 14rem;
      padding-bottom: 2.4rem;
      @include media('<=1580px') {
        padding-top: 1rem;
      }
      @include media('<=1200px') {
        margin-left: 2rem;
      }
      @include media('<=small-desktop') {
        margin-left: 3rem;
      }
      @include media('<=tablet') {
        display: flex;
        margin: 0;
        justify-content: center;
        padding-bottom: 2.2rem;
      }
      @include media('<=mobile') {
        font-size: 24px;
        margin-top: 5.1rem;
        padding-bottom: 0.9rem;
      }
    }

    .main-article-container {
      width: 100%;
      height: 42.3rem;
      display: flex;
      justify-content: space-between;

      @include media('<=1200px') {
        height: 45.8rem;
        padding: 0 2rem;
      }

      @include media('<=small-desktop') {
        width: 94%;
        padding: 0;
        margin: 0 auto;
      }
      @include media('<=tablet') {
        flex-direction: column;
        justify-content: flex-start;
        height: auto;
      }

      &__photo-wrapper {
        @include media('<=small-desktop') {
          width: 49.1%;
          height: 100%;
        }
        @include media('<=tablet') {
          width: 65%;
          height: auto;
          margin-bottom: 3rem;
        }
        @include media('<=mobile') {
          margin-bottom: 1.7rem;
        }
      }

      &__photo {
        width: 100%;
        @include media('<=small-desktop') {
          max-width: 100%;
          height: auto;
        }
        @include media('<=mobile') {
          display: none;
        }
      }

      &__photo-mobile {
        display: none;
        @include media('<=mobile') {
          display: inline-block;
          margin-left: -0.9rem;

        }
      }

      &__wrapper {
        width: 66.8rem;
        height: 100%;

        @include media('<=1200px') {
          width: 52%;
          height: 30rem;
        }
        @include media('<=small-desktop') {
          width: 45.5rem;
        }
        @include media('<=tablet') {
          width: 42rem;
          height: auto;
          justify-content: flex-start;
        }
        @include media('<=450px') {
          width: 98%;
          height: fit-content;
        }
        @include media('<=mobile') {
          width: 100%;
        }


        .btn {
          margin-left: 0.4rem;
          @include media('<=1200px') {
            margin-top: -2rem;
          }
          @include media('<=small-desktop') {
            margin-top: 2.7rem;
            margin-left: 1.4rem;
          }
          @include media('<=tablet') {
            margin-top: 2.9rem;
            left: 32.5%;
          }
          @include media('<=500px') {
            left: 50%;
            transform: translateX(-50%);
          }
          @include media('<=mobile') {
            left: 45.3%;
            margin-top: 2.7rem;

          }
        }
      }

      &__article {
        margin: 0;
        width: 66.8rem;
        height: 28.8rem;

        font: $subtitle-roboto-regular;
        font-weight: 500;
        font-size: 2.6rem;
        line-height: 140%;
        margin-bottom: 4.2rem;
        color: $gray_smoky;

        @include media('<=1200px') {
          width: 100%;
          height: 36.7rem;
        }

        @include media('<=1160px') {
          font-size: 2.2rem;
          line-height: 30.8px;
          margin-bottom: 1rem;
        }

        @include media('<=small-desktop') {
          margin-left: 1.4rem;
        }
        @include media('<=tablet') {
          height: 34.1rem;
          margin-left: 0;
        }
        @include media('<=450px') {
          height: auto;
          margin-left: 0;
        }
        @include media('<=mobile') {
          font-size: 1.6rem;
          line-height: 140%;
          margin: 0;
        }
      }


      &__link {
        text-decoration: none;
        color: $green;

        &:hover {
          text-decoration: underline;
          color: rgb(249, 128, 75);
        }
      }
    }

    .separator {
      width: 100%;
      height: 1rem;
      margin-top: 1.1rem;
      border-bottom: 1px solid #888;
      margin-bottom: 4.2rem;
      @include media('<=mobile') {
        margin-bottom: 2.1rem;
      }

    }


    .info-section {
      //height: 15rem;
      overflow: hidden;
      @include media('<=small-desktop') {
        margin-left: 2.9rem;
        margin-right: 0.6rem;
      }
      @include media('<=tablet') {
        margin-left: 2rem;
        margin-right: 1rem;
      }
      @include media('<=mobile') {
        margin-left: 0.9rem;
      }


      &__paragraph-wrapper {
        margin: 0;
        padding: 0;
        padding-bottom: 1rem;
      }

      &__paragraph {
        margin: 0;
        font: $body-roboto-regular;
        line-height: 22.4px;
        padding-bottom: 2.3rem;

        &--new-line {
          padding-bottom: 0.8rem;
        }
      }

      &__paragraph-list {
        margin: 0;
        font: $body-roboto-regular;
        padding-bottom: 0.4rem;
      }

      &__list {
        margin: 0;
        padding-left: 1.8rem;
        padding-bottom: 2rem;
        font: $body-roboto-regular;

      }

      &__title {
        font: $subtitle-roboto-regular;
      }

      &__link {
        text-decoration: none;
        color: $green;

        &:hover {
          text-decoration: underline;
          color: rgb(249, 128, 75);
        }
      }

      &--small {
        margin-bottom: -0.5rem;
        padding-bottom: 0;
      }
    }

    .btn-read-less {
      background: #f1f3f2;
      color: #000;
      border: 1px solid #333B41;
      border-radius: 0.5rem;
      width: 13rem;
      height: 4.3rem;
      text-transform: none;
      margin-top: 1rem;
      font: $body-roboto-regular;
      outline: none;

      @include media('<=small-desktop') {
        margin-left: 3.1rem;
      }
      @include media('<=tablet') {
        margin-left: 1.4rem;
      }
      @include media('<=mobile') {
        margin-left: 1.1rem;
      }

      &:hover {
        color: $orange;
        cursor: pointer;
        border: 1px solid $orange;
      }
    }

    //------------panda main ------------------
  }


  .footer-image {
    position: absolute;
    bottom: 0;
    left: 0;
  }


  .footer__image-container {
    top: 285rem;
  }

  .strelitzia-image-default {
    background: url("../images/photos/strelitzia.png") no-repeat;
    width: 33.5rem;
    height: 44rem;
    left: 0;
    bottom: 66rem;
    transform: scale(-1, 1);
    z-index: -100;
    @include media('<=small-desktop') {
      background: url("../images/photos/strelitzia-small-desktop.png") no-repeat;
      width: 21.8rem;
      bottom: 56.7rem;
    }
    @include media('<=tablet') {
      background: url("../images/photos/strelitzia_tablet.png") no-repeat;
      width: 15.9rem;
      bottom: 26rem;
    }
    @include media('<=620px') {
      top: auto;
      bottom: 25.5rem;
    }
    @include media('<=mobile') {
      background: url("../images/photos/strelitzia-panda-mobile.png") no-repeat;
      width: 7.8rem;
      bottom: 38.3rem;
      transform: none;
    }
  }

  .background-wrapper {
    margin-top: 17rem;
    width: 100%;
    height: 40rem;
    bottom: 0;
    z-index: -2;
    @include media('<=620px') {
      height: 26rem;
    }
    @include media('<=mobile') {
      height: 29.8rem;
      margin-top: 0;
    }
  }

  .btn-donate-default {
    position: absolute;
    bottom: 1.8%;
    left: 37.1%;
    @include media('<=small-desktop') {
      left: 35.6%;
      bottom: 1.85%;
    }
    @include media('<=tablet') {
      left: 26.6%;
      bottom: 1.04%;
      background-color: black;
    }
    @include media('<=430px') {
      left: 15%;
    }
    @include media('<=370px') {
      left: 9%;
    }
    @include media('<=340px') {
      left: 5%;
    }
    @include media('<=mobile') {
      left: 4%;
      bottom: 0.3%;
    }

  }

  .footer__image--default {
    background: url("../images/footer/panda.jpg") no-repeat;
    width: 100%;
    height: 39.2rem;
    left: 0;
    transform: translateY(-106%);
    background-size: cover;
    @include media('<=small-desktop') {
      background: url("../images/footer/panda_bg_smalldesk.jpg") no-repeat;
    }
    @include media('<=tablet') {
      background: url("../images/footer/panda-footer-tablet.jpg") no-repeat;
      bottom: -23.8rem;

    }
    @include media('<=mobile') {
      background: url("../images/footer/panda_footer_mobile.jpg") no-repeat;
      bottom: -4.9rem;
    }


  }

  // === Adjust paddings for infor section===========
  .info-section__paragraph-wrapper:nth-child(1) .info-section__paragraph:nth-child(1) {
    padding-bottom: 1.9rem;

    @include media('<=small-desktop') {
      padding-bottom: 2.1rem;
    }
    @include media('<=tablet') {
      padding-right: 2rem;
      padding-bottom: 0;
    }
    @include media('<=mobile') {
      margin-left: 4.9rem;
      text-indent: -4.9rem;
      padding-right: 0;
      margin-bottom: 2.3rem;
    }
  }

  .info-section__paragraph-wrapper:nth-child(1) .info-section__paragraph:nth-child(2) {
    padding-bottom: 2.9rem;
    @include media('<=mobile') {
      padding-bottom: 1.5rem;
    }
  }

  .info-section__paragraph-wrapper:nth-child(1) .info-section__paragraph:nth-child(3) {
    @include media('<=mobile') {
      padding-bottom: 1rem;
    }
  }


  .info-section__paragraph-wrapper:nth-child(2) .info-section__paragraph:nth-child(2) {
    padding-bottom: 1.9rem;
    @include media('<=small-desktop') {
      margin-top: 1.3rem;
    }
    @include media('<=mobile') {
      margin-top: 0.1rem;
    }
  }

  .info-section__paragraph-wrapper:nth-child(4) .info-section__paragraph:nth-child(1) {
    padding-top: 0.3rem;
    padding-bottom: 0.6rem;

  }

  .info-section__paragraph-wrapper:nth-child(3) .info-section__paragraph:nth-child(2) {
    padding-bottom: 1.9rem;
  }

  .info-section__paragraph-wrapper:nth-child(3) .info-section__paragraph:nth-child(3) {
    padding-bottom: 1.9rem;
  }

  .info-section__paragraph-wrapper:nth-child(4) .info-section__paragraph:nth-child(3) {
    padding-bottom: 1.9rem;
  }

  .info-section__paragraph-wrapper:nth-child(6) .info-section__paragraph:nth-child(2) {
    padding-bottom: 1.9rem;
  }

  // ================responcive =========================


  .footer {
    &__image-rotated {
      width: 20.9rem;
      bottom: 78rem;
      @include media('<=small-desktop') {
        bottom: 75.6rem;
        width: 15.4rem;
        background: url("../images/photos/leave_foto_small-desk-rotated.png") no-repeat;
      }
      @include media('<=tablet') {
        bottom: 44rem;
        width: 13rem;
        background: url("../images/photos/leave_zoos_tablet.png") no-repeat;
      }
      @include media('<=620px') {
        top: auto;
        bottom: 43.5rem;
      }
      @include media('<=mobile') {
        bottom: 58rem;
        width: 6.2rem;
        background: url("../images/photos/leave_panda_mobile.png") no-repeat;
      }
    }

    &__container-main {
      @include media('<=small-desktop') {
        margin-left: 3.2rem;
      }
      @include media('<=tablet') {
        margin-left: 1.8rem;
      }
      @include media('<=mobile') {
        margin-left: 1.2rem;
      }
    }

    &__nav {
      @include media('<=small-desktop') {
        margin-right: 0;
      }
    }
  }
}

