<header class="header">

<!--  absolute positioned elements -->
  <div class="background-photo"></div>
  <div class="nav-panel"></div>
  <div class="circle"></div>
  <h1 class="title">Watch your <span class="title__favorite">favorite</span>  animal online</h1>
  <button class="btn btn--watch-online">watch online</button>

<!--  nav bar-->
  <nav class="nav">
    <a href="#" class="logo nav__logo-link">
      <img src="assets/images/icons/logo.svg" alt="logo">
    </a>

    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="#">About</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">Map</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">Zoos</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">Contact us</a>
      </li>

      <li class="nav__item">
        <a class="nav__link" href="#">Designed by ©</a>
      </li>

    </ul>
  </nav>
</header>

