<section class="testimonials">
  <h3 class="testimonials__title">Testimonials</h3>
  <div class="testimonials__card-container">
    <div class="testimonials__card">
      <img class="testimonials__user-photo" src="assets/images/icons/user-michael-icon.svg" alt="">
      <span class="testimonials__user-name">Michael John</span>
      <p class="testimonials__date">Local Austria&nbsp; • &nbsp;Today</p>
      <p class="testimonials__content">The best online zoo I’ve met. My son delighted very much ljves to watch gouillas.
        Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very
        much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.
        The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways
        to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas.
        Online zoo is one jf the ways to instill a love for animals.
      </p>
    </div>
  </div>
</section>