<footer class="footer">
  <div class="footer__background"></div>
  <div class="background-image footer__image-container"></div>

  <div class="footer__container-main">

    <!--    logo and subscribe section-->
    <div class="footer__container-top">
      <a href="#" class="logo footer__logo">
        <img src="assets/images/icons/logo.svg" alt="logo">
      </a>

      <!--    subscribe container-->
      <div class="footer__subscribe-container">
        <h3 class="footer__subscribe-title">Subscribe to our news</h3>

      </div>
    </div>
    <!--    =================================================-->

  </div>


</footer>
