<footer class="footer">
  <div class="footer__background"></div>
  <div class="background-image footer__image-container"></div>

  <div class="footer__container-main">
    <!--    logo and subscribe section-->
    <div class="footer__container-top">
      <a href="#" class="logo footer__logo">
        <img src="assets/images/icons/logo.svg" alt="logo">
      </a>

      <!--    subscribe container-->
      <div class="footer__subscribe-container">
        <h3 class="footer__subscribe-title">Subscribe to our news</h3>
        <label for="input-footer"></label>
        <input class="footer__subscribe-input" type="email" id="input-footer" placeholder="Enter your email">
        <button class="btn footer__btn-submit" type="submit">Submit</button>
      </div>
    </div>
    <!--    donate button-->

    <button class="btn footer__btn-donate">Donate for volunteers</button>

    <div class="footer__container-bottom">

      <div class="footer__social">

      </div>

      <nav class="footer__nav">

      </nav>

      <div class="footer__designed-by"></div>

    </div>

  </div>


</footer>
