<header class="header-home">
  <!--  absolute positioned elements -->
  <div class="nav-panel"></div>

  <!--  nav bar-->
  <nav class="nav">
    <a href="#" class="logo nav__logo-link">
      <img src="../assets/images/icons/logo.svg" alt="logo">
    </a>

    <ul class="nav__list">
      <li class="nav__item">
        <a class="nav__link" href="#">About</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="map/map.html">Map</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">Zoos</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">Contact us</a>
      </li>

      <li class="nav__item">
        <a class="nav__link" href="#">Designed by ©</a>
      </li>

    </ul>
  </nav>
</header>

