<header class="header-home">
  <h1 class="header-title">PetStory Online</h1>
  <nav class="nav">
    <a href="../index/index.html" class="logo nav__logo-link">
      <img src="../assets/images/icons/logo.svg" alt="logo">
    </a>

    <ul class="nav__list">
      <li class="nav__item">
        <a href="../index/index.html" class="logo nav__logo-link nav__menu-logo">
          <img src="../assets/images/icons/logo-orange.svg" alt="logo">
        </a>
      </li>
      <li class="nav__item">
        <a class="link-disabled nav__link" href="../index/index.html">About</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="../map/map.html">Map</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="../zoos/panda.html">Zoos</a>
      </li>
      <li class="nav__item">
        <a class="nav__link" href="#">Contact us</a>
      </li>

      <li class="nav__item">
        <a class="nav__link" href="https://www.figma.com/file/jfEFwkXVj1WRq7sUHDr8os/PetStory-online">Designed by ©</a>
      </li>
    </ul>
    <img class="nav__burger-icon" src="../assets/images/icons/burger_menu.svg" alt="">

  </nav>

  <!--  absolute positioned elements -->
  <div class="background-photo"></div>
  <div class="nav-panel"></div>

  <div class="header-home__title-wrapper">
    <h2 class="title">Watch your <span class="title__favorite">favorite</span> animal online</h2>
    <div class="circle"></div>
    <button class="btn btn--watch-online " onclick="location.href='../zoos/panda.html'" type="button">
      watch online
    </button>
  </div>


  <!--  nav bar-->
</header>

