<section class="photo-section">

  <button class="btn photo-section__btn-left"></button>
  <button class="btn photo-section__btn-right"></button>

  <div class="photo-section__container">

    <div class="photo-section__photo-container">
      <div class="photo-section__text-float">
        <p class="photo-section__text-float__animal">Giant Pandas</p>
        <p class="photo-section__text-float__place">Native to Southwest China</p>
      </div>
      <img class="photo-section__photo" src="../assets/images/photos/pandas.jpg" alt="pandas">
    </div>
    <div class="photo-section__title">Giant pandas</div>
    <div class="photo-section__text">Native to Southwest China</div>
  </div>

  <div class="photo-section__container">
    <div class="photo-section__photo-container">
      <div class="photo-section__text-float">
        <p class="photo-section__text-float__animal">Eagles</p>
        <p class="photo-section__text-float__place">Native to South America</p>
      </div>
      <img class="photo-section__photo" src="../assets/images/photos/eagle.jpg" alt="pandas">
    </div>
    <div class="photo-section__title">Eagles</div>
    <div class="photo-section__text">Native to South America</div>
  </div>

  <div class="photo-section__container">
    <div class="photo-section__photo-container">
      <div class="photo-section__text-float">
        <p class="photo-section__text-float__animal">Gorillas</p>
        <p class="photo-section__text-float__place">Native to Congo</p>
      </div>
      <img class="photo-section__photo" src="../assets/images/photos/gorilla.jpg" alt="pandas">
    </div>
    <div class="photo-section__title">Gorillas</div>
    <div class="photo-section__text">Native to Congo</div>
  </div>

  <div class="photo-section__container">
    <div class="photo-section__photo-container">
      <div class="photo-section__text-float">
        <p class="photo-section__text-float__animal">Two-toed Sloth</p>
        <p class="photo-section__text-float__place">Mesoamerica, South America</p>
      </div>
      <img class="photo-section__photo" src="../assets/images/photos/sloth.jpg" alt="pandas">
    </div>
    <div class="photo-section__title">Two-toed Sloth</div>
    <div class="photo-section__text">Mesoamerica, South America</div>
  </div>

  <div class="photo-section__container">
    <div class="photo-section__photo-container">
      <div class="photo-section__text-float">
        <p class="photo-section__text-float__animal">Cheetahs</p>
        <p class="photo-section__text-float__place">Native to Africa</p>
      </div>
      <img class="photo-section__photo" src="../assets/images/photos/cheetahs.jpg" alt="pandas">
    </div>
    <div class="photo-section__title">cheetahs</div>
    <div class="photo-section__text">Native to Africa</div>
  </div>

  <div class="photo-section__container">
    <div class="photo-section__photo-container">
      <div class="photo-section__text-float">
        <p class="photo-section__text-float__animal">Penguins</p>
        <p class="photo-section__text-float__place">Native to Antarctica</p>
      </div>
      <img class="photo-section__photo" src="../assets/images/photos/penguins.jpg" alt="pandas">
    </div>
    <div class="photo-section__title">Penguins</div>
    <div class="photo-section__text">Native to Antarctica</div>
  </div>

</section>