<section class="photo-section">


  <button class="btn photo-section__btn-left"></button>
  <button class="btn photo-section__btn-right"></button>
  <div class="photo-section__items-wrapper">
    <div class="photo-section__item item-active">
      <div class="photo-section__container">
        <div class="photo-section__photo-container">
          <a href="../zoos/panda.html">
            <div class="photo-section__text-float">
              <p class="photo-section__text-float__animal">Giant Pandas</p>
              <p class="photo-section__text-float__place">Native to Southwest China</p>
            </div>
          </a>
          <img class="photo-section__icon" src="../assets/images/icons/banana-bamboo.svg" alt="banana bamboo icon">
          <img class="photo-section__photo" src="../assets/images/photos/pandas.jpg" alt="pandas">
        </div>
        <div class="photo-section__title">Giant pandas</div>
        <div class="photo-section__text">Native to Southwest China</div>
      </div>

      <div class="photo-section__container">
        <div class="photo-section__photo-container">
          <a href="../zoos/eagle.html">
            <div class="photo-section__text-float">
              <p class="photo-section__text-float__animal">Eagles</p>
              <p class="photo-section__text-float__place">Native to South America</p>
            </div>
          </a>
          <img class="photo-section__icon" src="../assets/images/icons/meet-fish.svg" alt="banana bamboo icon">
          <img class="photo-section__photo" src="../assets/images/photos/eagle.jpg" alt="pandas">
        </div>
        <div class="photo-section__title">Eagles</div>
        <div class="photo-section__text">Native to South America</div>
      </div>

      <div class="photo-section__container">
        <div class="photo-section__photo-container">
          <a href="../zoos/gorilla.html">
            <div class="photo-section__text-float">
              <p class="photo-section__text-float__animal">Gorillas</p>
              <p class="photo-section__text-float__place">Native to Congo</p>
            </div>
          </a>
          <img class="photo-section__icon" src="../assets/images/icons/banana-bamboo.svg" alt="banana bamboo icon">
          <img class="photo-section__photo" src="../assets/images/photos/gorilla.jpg" alt="pandas">
        </div>
        <div class="photo-section__title">Gorillas</div>
        <div class="photo-section__text">Native to Congo</div>
      </div>

      <div class="photo-section__container">
        <div class="photo-section__photo-container">
          <div class="photo-section__text-float">
            <p class="photo-section__text-float__animal">Two-toed Sloth</p>
            <p class="photo-section__text-float__place">Mesoamerica, South America</p>
          </div>
          <img class="photo-section__icon" src="../assets/images/icons/banana-bamboo.svg" alt="banana bamboo icon">
          <img class="photo-section__photo" src="../assets/images/photos/sloth.jpg" alt="pandas">
        </div>
        <div class="photo-section__title">Two-toed Sloth</div>
        <div class="photo-section__text">Mesoamerica, South America</div>
      </div>

      <div class="photo-section__container">
        <div class="photo-section__photo-container">
          <div class="photo-section__text-float">
            <p class="photo-section__text-float__animal">Cheetahs</p>
            <p class="photo-section__text-float__place">Native to Africa</p>
          </div>
          <img class="photo-section__icon" src="../assets/images/icons/meet-fish.svg" alt="meet fish icon">
          <img class="photo-section__photo" src="../assets/images/photos/cheetahs.jpg" alt="pandas">
        </div>
        <div class="photo-section__title">cheetahs</div>
        <div class="photo-section__text">Native to Africa</div>
      </div>

      <div class="photo-section__container">
        <div class="photo-section__photo-container">
          <div class="photo-section__text-float">
            <p class="photo-section__text-float__animal">Penguins</p>
            <p class="photo-section__text-float__place">Native to Antarctica</p>
          </div>
          <img class="photo-section__icon" src="../assets/images/icons/meet-fish.svg" alt="meet fish icon">
          <img class="photo-section__photo" src="../assets/images/photos/penguins.jpg" alt="pandas">
        </div>
        <div class="photo-section__title">Penguins</div>
        <div class="photo-section__text">Native to Antarctica</div>
      </div>
    </div>
    <div class="photo-section__item">
      <div class="photo-section__container">
        <div class="photo-section__photo-container">
          <a href="../zoos/panda.html">
            <div class="photo-section__text-float">
              <p class="photo-section__text-float__animal">Koala</p>
              <p class="photo-section__text-float__place">Native to Southwest China</p>
            </div>
          </a>
          <img class="photo-section__icon" src="../assets/images/icons/banana-bamboo.svg" alt="banana bamboo icon">
          <img class="photo-section__photo" src="../assets/images/photos/Koala.jpg" alt="pandas">
        </div>
        <div class="photo-section__title">Koala</div>
        <div class="photo-section__text">Native to Southwest China</div>
      </div>

      <div class="photo-section__container">
        <div class="photo-section__photo-container">
          <a href="../zoos/eagle.html">
            <div class="photo-section__text-float">
              <p class="photo-section__text-float__animal">Echidna</p>
              <p class="photo-section__text-float__place">America</p>
            </div>
          </a>
          <img class="photo-section__icon" src="../assets/images/icons/meet-fish.svg" alt="banana bamboo icon">
          <img class="photo-section__photo" src="../assets/images/photos/echidna.jpg" alt="pandas">
        </div>
        <div class="photo-section__title">Echidna</div>
        <div class="photo-section__text">America</div>
      </div>

      <div class="photo-section__container">
        <div class="photo-section__photo-container">
          <a href="../zoos/gorilla.html">
            <div class="photo-section__text-float">
              <p class="photo-section__text-float__animal">Lion</p>
              <p class="photo-section__text-float__place">Africa</p>
            </div>
          </a>
          <img class="photo-section__icon" src="../assets/images/icons/banana-bamboo.svg" alt="banana bamboo icon">
          <img class="photo-section__photo" src="../assets/images/photos/lion.jpg" alt="pandas">
        </div>
        <div class="photo-section__title">Lion</div>
        <div class="photo-section__text">Africa</div>
      </div>

      <div class="photo-section__container">
        <div class="photo-section__photo-container">
          <div class="photo-section__text-float">
            <p class="photo-section__text-float__animal">Damascus goat</p>
            <p class="photo-section__text-float__place">Mesoamerica, South America</p>
          </div>
          <img class="photo-section__icon" src="../assets/images/icons/banana-bamboo.svg" alt="banana bamboo icon">
          <img class="photo-section__photo" src="../assets/images/photos/damascus-goat.jpg" alt="pandas">
        </div>
        <div class="photo-section__title">Damascus goat</div>
        <div class="photo-section__text">Mesoamerica, South America</div>
      </div>

      <div class="photo-section__container">
        <div class="photo-section__photo-container">
          <div class="photo-section__text-float">
            <p class="photo-section__text-float__animal">Malayan tapir</p>
            <p class="photo-section__text-float__place">Malaysia</p>
          </div>
          <img class="photo-section__icon" src="../assets/images/icons/meet-fish.svg" alt="meet fish icon">
          <img class="photo-section__photo" src="../assets/images/photos/Malayan-tapir.jpg" alt="pandas">
        </div>
        <div class="photo-section__title">Malayan tapir</div>
        <div class="photo-section__text">Malaysia</div>
      </div>

      <div class="photo-section__container">
        <div class="photo-section__photo-container">
          <div class="photo-section__text-float">
            <p class="photo-section__text-float__animal">Aye-aye</p>
            <p class="photo-section__text-float__place">Africa</p>
          </div>
          <img class="photo-section__icon" src="../assets/images/icons/meet-fish.svg" alt="meet fish icon">
          <img class="photo-section__photo" src="../assets/images/photos/Aye-aye.jpg" alt="pandas">
        </div>
        <div class="photo-section__title">Aye-aye</div>
        <div class="photo-section__text">Africa</div>
      </div>
    </div>
    <div class="photo-section__item">
      <div class="photo-section__container">
        <div class="photo-section__photo-container">
          <a href="../zoos/panda.html">
            <div class="photo-section__text-float">
              <p class="photo-section__text-float__animal">Squirrel</p>
              <p class="photo-section__text-float__place">Native to Southwest China</p>
            </div>
          </a>
          <img class="photo-section__icon" src="../assets/images/icons/banana-bamboo.svg" alt="banana bamboo icon">
          <img class="photo-section__photo" src="../assets/images/photos/squirrel.jpg" alt="pandas">
        </div>
        <div class="photo-section__title">Squirrel</div>
        <div class="photo-section__text">Native to Southwest China</div>
      </div>

      <div class="photo-section__container">
        <div class="photo-section__photo-container">
          <a href="../zoos/eagle.html">
            <div class="photo-section__text-float">
              <p class="photo-section__text-float__animal">Pangolin</p>
              <p class="photo-section__text-float__place">Native to South America</p>
            </div>
          </a>
          <img class="photo-section__icon" src="../assets/images/icons/meet-fish.svg" alt="banana bamboo icon">
          <img class="photo-section__photo" src="../assets/images/photos/pangolin.jpg" alt="pandas">
        </div>
        <div class="photo-section__title">Pangolin</div>
        <div class="photo-section__text">Native to South America</div>
      </div>

      <div class="photo-section__container">
        <div class="photo-section__photo-container">
          <a href="../zoos/gorilla.html">
            <div class="photo-section__text-float">
              <p class="photo-section__text-float__animal">Water deer</p>
              <p class="photo-section__text-float__place">China</p>
            </div>
          </a>
          <img class="photo-section__icon" src="../assets/images/icons/banana-bamboo.svg" alt="banana bamboo icon">
          <img class="photo-section__photo" src="../assets/images/photos/Chinese-water-deer.jpg" alt="pandas">
        </div>
        <div class="photo-section__title">Chinese water deer</div>
        <div class="photo-section__text">China</div>
      </div>

      <div class="photo-section__container">
        <div class="photo-section__photo-container">
          <div class="photo-section__text-float">
            <p class="photo-section__text-float__animal">Mammal</p>
            <p class="photo-section__text-float__place">Mesoamerica, South America</p>
          </div>
          <img class="photo-section__icon" src="../assets/images/icons/banana-bamboo.svg" alt="banana bamboo icon">
          <img class="photo-section__photo" src="../assets/images/photos/Mammal.jpg" alt="pandas">
        </div>
        <div class="photo-section__title">Mammal</div>
        <div class="photo-section__text">Mesoamerica, South America</div>
      </div>

      <div class="photo-section__container">
        <div class="photo-section__photo-container">
          <div class="photo-section__text-float">
            <p class="photo-section__text-float__animal">Quokka</p>
            <p class="photo-section__text-float__place">Native to Africa</p>
          </div>
          <img class="photo-section__icon" src="../assets/images/icons/meet-fish.svg" alt="meet fish icon">
          <img class="photo-section__photo" src="../assets/images/photos/quokka.jpg" alt="pandas">
        </div>
        <div class="photo-section__title">Quokka</div>
        <div class="photo-section__text">Native to Africa</div>
      </div>

      <div class="photo-section__container">
        <div class="photo-section__photo-container">
          <div class="photo-section__text-float">
            <p class="photo-section__text-float__animal">Rabbit</p>
            <p class="photo-section__text-float__place">Native to Antarctica</p>
          </div>
          <img class="photo-section__icon" src="../assets/images/icons/meet-fish.svg" alt="meet fish icon">
          <img class="photo-section__photo" src="../assets/images/photos/rabbit.jpg" alt="pandas">
        </div>
        <div class="photo-section__title">Rabbit</div>
        <div class="photo-section__text">Native to Antarctica</div>
      </div>
    </div>
  </div>
</section>
