<section class="photo-section">

  <button class="btn photo-section__btn-left"></button>
  <button class="btn photo-section__btn-right"></button>

  <div class="photo-section__container">
    <img class="photo-section__photo" src="assets/images/photos/pandas.jpg" alt="pandas">
    <div class="photo-section__title">giant pandas</div>
    <div class="photo-section__text">Native to Southwest China</div>
  </div>

  <div class="photo-section__container">
    <img class="photo-section__photo" src="assets/images/photos/eagle.jpg" alt="pandas">
    <div class="photo-section__title">Eagles</div>
    <div class="photo-section__text">Native to South America</div>
  </div>

  <div class="photo-section__container">
    <img class="photo-section__photo" src="assets/images/photos/gorilla.jpg" alt="pandas">
    <div class="photo-section__title">Gorillas</div>
    <div class="photo-section__text">Native to Congo</div>
  </div>

  <div class="photo-section__container">
    <img class="photo-section__photo" src="assets/images/photos/sloth.jpg" alt="pandas">
    <div class="photo-section__title">Two-toed Sloth</div>
    <div class="photo-section__text">Mesoamerica, South America</div>
  </div>

  <div class="photo-section__container">
    <img class="photo-section__photo" src="assets/images/photos/cheetahs.jpg" alt="pandas">
    <div class="photo-section__title">cheetahs</div>
    <div class="photo-section__text">Native to Africa</div>
  </div>

  <div class="photo-section__container">
    <img class="photo-section__photo" src="assets/images/photos/penguins.jpg" alt="pandas">
    <div class="photo-section__title">Penguins</div>
    <div class="photo-section__text">Native to Antarctica</div>
  </div>

</section>