<section class="testimonials">
  <h3 class="testimonials__title">Testimonials</h3>
  <div class="testimonials__card-container">
    <div class="testimonials__card">
      <img class="testimonials__user-photo" src="../assets/images/icons/user-michael-icon.svg" alt="">
      <span class="testimonials__user-name">Michael John</span>
      <p class="testimonials__date">Local Austria&nbsp; • &nbsp;Today</p>
      <div class="testimonials__content-wrapper">
        <p class="testimonials__content">The best online zoo I’ve met. My son delighted very much ljves to watch
          gouillas.
          Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted
          very
          much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.
          The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the
          ways
          to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch
          gouillas.
          Online zoo is one jf the ways to instill a love for animals.
        </p>
      </div>
    </div>

    <div class="testimonials__card">
      <img class="testimonials__user-photo" src="../assets/images/icons/user-oskar-icon.png" alt="">
      <span class="testimonials__user-name">Oskar Samborsky</span>
      <p class="testimonials__date">Local Austria&nbsp; • &nbsp;Yesterday</p>
      <div class="testimonials__content-wrapper">
        <p class="testimonials__content">Online zoo is one jf the ways to instill a love for animals.The best online zoo
          I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love
          for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas.
          The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the
          ways
          to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch
          gouillas.
          Online zoo is one jf the ways to instill a love for
        </p>
      </div>
    </div>

    <div class="testimonials__card">
      <img class="testimonials__user-photo" src="../assets/images/icons/user-frederica-icon.png" alt="">
      <span class="testimonials__user-name">Fredericka Michelin</span>
      <p class="testimonials__date">Local Austria&nbsp; • &nbsp;Yesterday</p>
      <div class="testimonials__content-wrapper">
        <p class="testimonials__content">
          The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the
          ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch
          gouillas. Online zoo is one jf the ways to instill a love for animals.
          The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the
          ways to instill a love for animals.The best online zoo I’ve met.
          The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the
          ways to instill a love for animals.The best online zoo I’ve
        </p>
      </div>
    </div>

    <div class="testimonials__card">
      <img class="testimonials__user-photo" src="../assets/images/icons/user-mila-icon.png" alt="">
      <span class="testimonials__user-name">Mila Riksha</span>
      <p class="testimonials__date">Local Austria&nbsp; • &nbsp;Yesterday</p>
      <div class="testimonials__content-wrapper">
        <p class="testimonials__content">
          My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for
          animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf
          the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch
          gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son
          delighted very much ljves to watch gouillas.
          The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the
          ways to instill a love for
        </p>
      </div>
    </div>
  </div> <!--cards container-->
  <div class="testimonials__slider-container">
    <input class="testimonials__slider" type="range" id="slider" name="slider"
           min="1" max="4" value="1" step="1">
  </div>
  <button class="btn testimonials__feedback-btn">leave feedback</button>
</section>