.map-page {
  background-color: #e2ecf1;
}

.map-page .footer__image-container {
  display: none;
}

.map-main {

  display: flex;
  justify-content: center;
  align-items: center;

  &__container {
    width: fit-content;
    height: fit-content;
    position: relative;
  }

  .map-main__map {
    width: 108rem;
    height: 88.9rem;

  }


  &__eagles-container {
    z-index: 5;
    cursor: pointer;
    position: absolute;
    left: 10.9%;
    top: 48.4%;
  }

  &__eagle-one {
    width: 4.4rem;
    position: absolute;
    left: -47%;
    top: 42%;
  }

  &__eagle-two {
    width: 5rem;
    position: absolute;
    left: 30%;
    top: 90%;
  }

  &__alligator-container {
    position: absolute;
    left: 21.6%;
    top: 50.4%;
  }

  &__alligator {
    position: absolute;
    left: 30%;
    top: 105%;
    width: 7.5rem;
  }

  &__gorilla-container {
    position: absolute;
    left: 48.3%;
    top: 60%;
  }

  &__gorilla {
    width: 5rem;
    position: absolute;
    left: 20%;
    top: 90%;
  }

  &__panda-one-container {
    z-index: 10;
    position: absolute;
    left: 77%;
    top: 45.3%;
  }

  &__panda-one {
    width: 3.7rem;
    position: absolute;
    left: 75%;
    top: 47.5%;
  }

  &__panda-two-container {
    position: absolute;
    left: 76.5%;
    top: 50.6%;
  }

  &__panda-two {
    width: 4.6rem;
    position: absolute;
    left: 76.5%;
    top: 50.6%;
  }

  &__btn-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 11.5rem;
    justify-content: space-between;
    position: absolute;
    left: 99%;
    top: 70%;
  }

  &__map-btn {
    width: 5.4rem;
    height: 5.4rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
}


