@use '../abstracts/var' as *;
@import "../vendors/include-media";


.donate-container {

  max-width: 1160px;
  width: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:
      8rem   //- header -
      186.9rem  //- main -
      44.2rem; //- footer
  @include media('<=small-desktop') {
    grid-template-rows:
      8rem   //- header -
      172.5rem  //- main -
      44.2rem; //- footer
  }
  @include media('<=996px') {
    grid-template-rows:
      8rem   //- header -
      180.5rem  //- main -
      44.2rem; //- footer
  }
  @include media('<=874px') {
    grid-template-rows:
      8rem   //- header -
      184.5rem  //- main -
      44.2rem; //- footer
  }

  @include media('<=700px') {
    grid-template-rows:
      8rem   //- header -
      188.5rem  //- main -
      44.2rem; //- footer
  }
  @include media('<=tablet') {
    grid-template-rows:
      3.4rem   //- header -
      166.8rem  //- main -
      $ft-tb; //- footer
  }
  @include media('<=515px') {
    grid-template-rows:
      3.4rem   //- header -
      1fr  //- main -
      $ft-tb; //- footer
  }
  @include media('<=mobile') {
    grid-template-rows:
      3.4rem   //- header -
      133.3rem  //- main -
      54rem; //- footer
  }

  grid-template-areas:
      "hd"  /*- header -*/
      "dn"
      "ft"; /*- footer -*/
  //   -1- -2- -3- -4- -5- -6- -7- -8- -9- -10- -11- -12-

  grid-column-gap: 0;
  grid-row-gap: 0;

  .header {
    grid-area: hd;
  }

  .donate-main {
    grid-area: dn;
  }

  .footer {
    grid-area: ft;
  }
}




