@use '../abstracts/var' as *;
@import "../vendors/include-media";


.home-container {
  max-width: 1160px;
  width: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:
      $hd   // - header -
      $gap1 // - gap1 -
      $ar    //- article -
      $gap2  //- gap2 -
      $ph    //- photo animals -
      $bt    //- button - choose favorite -
      $fd    //- section - feed a friend -
      $gap3  //- gap3 -
      $tm    //- testimonials -
      $gap4  //- gap
      $ft; //- footer
  @include media('<=small-desktop') {
    grid-template-rows:
      $hd-sd   // - header -
      $gap1-sd // - gap1 -
      $ar-sd    //- article -
      $gap2-sd  //- gap2 -
      $ph-sd    //- photo animals -
      $bt-sd    //- button - choose favorite -
      $fd-sd    //- section - feed a friend -
      $gap3-sd  //- gap3 -
      $tm-sd    //- testimonials -
      $gap4-sd  //- gap
      $ft-sd; //- footer
  }

  grid-template-areas:
      " hd"  /*- header -*/
      " . "
      " ar"  /*- article -*/
      " . "
      " ph"  /*- animals photo -*/
      " bt"  /*- choose favorite button -*/
      " fd"  /*- feed a friend -*/
      " . "
      " tm"  /*- testimonials -*/
      " . "
      " ft"; /*- footer -*/

  grid-column-gap: 3rem;
  grid-row-gap: 1px;

}

.header {
  grid-area: hd;
}

.article {
  grid-area: ar;
}

.photo-section {
  grid-area: ph;
}

.chose-favorite {
  grid-area: bt;
}

.feed-friend {
  grid-area: fd;
}

.testimonials {
  grid-area: tm;
}

.footer {
  grid-area: ft;
}

