@use '../abstracts/var' as *;
@import "../vendors/include-media";


.home-container {
  max-width: 1160px;
  width: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:
      $hd   // - header -
      $gap1 // - gap1 -
      $ar    //- article -
      $gap2  //- gap2 -
      $ph    //- photo animals -
      $bt    //- button - choose favorite -
      $fd    //- section - feed a friend -
      $gap3  //- gap3 -
      $tm    //- testimonials -
      $gap4  //- gap
      $ft; //- footer
  @include media('<=1330px') {
    grid-template-rows:
      $hd   // - header -
      $gap1 // - gap1 -
      $ar    //- article -
      $gap2  //- gap2 -
      $ph-sd    //- photo animals -
      $bt    //- button - choose favorite -
      $fd    //- section - feed a friend -
      $gap3  //- gap3 -
      $tm    //- testimonials -
      $gap4  //- gap
      $ft; //- footer
  }
  @include media('<=1100px') {
    grid-template-rows:
      $hd   // - header -
      $gap1 // - gap1 -
      $ar    //- article -
      $gap2  //- gap2 -
      $ph    //- photo animals -
      $bt    //- button - choose favorite -
      $fd    //- section - feed a friend -
      $gap3  //- gap3 -
      84rem    //- testimonials -
      $gap4  //- gap
      $ft; //- footer
  }
  @include media('<=small-desktop') {
    grid-template-rows:
      $hd-sd   // - header -
      $gap1-sd // - gap1 -
      $ar-sd    //- article -
      $gap2-sd  //- gap2 -
      $ph-sd    //- photo animals -
      $bt-sd    //- button - choose favorite -
      $fd-sd    //- section - feed a friend -
      $gap3-sd  //- gap3 -
      $tm-sd    //- testimonials -
      $gap4-sd  //- gap
      $ft-sd; //- footer
  }

  @include media('<=950px') {
    grid-template-rows:
      $hd-sd   // - header -
      $gap1-sd // - gap1 -
      $ar-sd    //- article -
      $gap2-sd  //- gap2 -
      $ph-sd    //- photo animals -
      $bt-sd    //- button - choose favorite -
      $fd-sd    //- section - feed a friend -
      $gap3-sd  //- gap3 -
      90rem    //- testimonials -
      $gap4-sd  //- gap
      $ft-sd; //- footer
  }

  @include media('<=tablet') {
    grid-template-rows:
      $hd-tb   // - header -
      $gap1-tb // - gap1 -
      $ar-tb    //- article -
      $gap2-tb  //- gap2 -
      $ph-tb    //- photo animals -
      $bt-tb    //- button - choose favorite -
      $fd-tb    //- section - feed a friend -
      $gap3-tb  //- gap3 -
      $tm-tb    //- testimonials -
      $gap4-tb  //- gap
      $ft-tb; //- footer
  }
  @include media('<=mobile') {
    grid-template-rows:
      $hd-mb   // - header -
      $gap1-mb // - gap1 -
      $ar-mb    //- article -
      $gap2-mb  //- gap2 -
      $ph-mb    //- photo animals -
      $bt-mb    //- button - choose favorite -
      $fd-mb    //- section - feed a friend -
      $gap3-mb  //- gap3 -
      $tm-mb    //- testimonials -
      $gap4-mb  //- gap
      $ft-mb; //- footer
  }

  grid-template-areas:
      " hd"  /*- header -*/
      " . "
      " ar"  /*- article -*/
      " . "
      " ph"  /*- animals photo -*/
      " bt"  /*- choose favorite button -*/
      " fd"  /*- feed a friend -*/
      " . "
      " tm"  /*- testimonials -*/
      " . "
      " ft"; /*- footer -*/

  grid-column-gap: 0;
  grid-row-gap: 1px;

}

.header {
  grid-area: hd;
}

.article {
  grid-area: ar;
}

.photo-section {
  grid-area: ph;
}

.chose-favorite {
  grid-area: bt;
}

.feed-friend {
  grid-area: fd;
}

.testimonials {
  grid-area: tm;
}

.footer {
  grid-area: ft;
}

