@use '../abstracts/var' as *;

.container {
  max-width: 1160px;
  width: 1160px;
  min-height: 497.5rem;
  //background-color: lightgreen;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows:
      $hd    /*- header -*/
      $gap1  /*- gap1 -*/
      $ar    /*- article -*/
      $gap2  /*- gap2 -*/
      $ph    /*- photo animals -*/
      $bt    /*- button - choose favorite -*/
      $fd    /*- section - feed a friend -*/
      $gap3  /*- gap3 -*/
      $tm    /*- testimonials -*/
      $gap4  /*- gap */
      $ft; /*- footer */

  grid-template-areas:
      " hd  hd  hd  hd  hd  hd  hd  hd  hd  hd   hd   hd"  /*- header -*/
      " .   .   .   .   .   .   .   .   .   .    .    . "
      " ar  ar  ar  ar  ar  ar  ar  ar  ar  ar   ar   ar"  /*- article -*/
      " .   .   .   .   .   .   .   .   .   .    .    . "
      " ph  ph  ph  ph  ph  ph  ph  ph  ph  ph   ph   ph"  /*- animals photo -*/
      " bt  bt  bt  bt  bt  bt  bt  bt  bt  bt   bt   bt"  /*- choose favorite button -*/
      " fd  fd  fd  fd  fd  fd  fd  fd  fd  fd   fd   fd"  /*- feed a friend -*/
      " .   .   .   .   .   .   .   .   .   .    .    . "
      " tm  tm  tm  tm  tm  tm  tm  tm  tm  tm   tm   tm"  /*- testimonials -*/
      " .   .   .   .   .   .   .   .   .   .    .    . "
      " ft  ft  ft  ft  ft  ft  ft  ft  ft  ft   ft   ft"; /*- footer -*/
  /*   -1- -2- -3- -4- -5- -6- -7- -8- -9- -10- -11- -12-*/

  grid-column-gap: 3rem;
  grid-row-gap: 1px;
}

.header {
  grid-area: hd;
}

.article {
  grid-area: ar;
}

.photo-section {
  grid-area: ph;
}

.chose-favorite-btn {
  grid-area: bt;
  background-color: yellow;
}

.feed-friend {
  grid-area: fd;
  background-color: #4B9200;
}

.testimonials {
  grid-area: tm;
  background-color: black;
}

.footer {
  grid-area: ft;
  background-color: blue;
}

