@use '../abstracts/var' as *;
@import "../vendors/include-media";

.map-container {
  max-width: 1160px;
  width: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-areas:
      "hd"  /*- header -*/
      "mp"
      "ft"; /*- footer -*/

  grid-template-rows:
      $hd-default  // - header -
      1fr
      $ft; //- footer
  /* ----------------tablet --------------------*/
  @include media('<=tablet') {
    grid-template-rows:
      3.4rem  // - header -
      1fr
      28.2rem;; //- footer
  }
  /* ----------------mobile --------------------*/

  @include media('<=mobile') {
    grid-template-rows:
      3.4rem  // - header -
      1fr
      54rem;; //- footer
  }


  grid-column-gap: 0;
  grid-row-gap: 0;

  .header {
    grid-area: hd;
  }

  .map-main {
    grid-area: mp;
  }

  .footer {
    grid-area: ft;
  }
}




