@use '../abstracts/var' as *;

.default-container {
  max-width: 1160px;
  width: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:
      $hd-default    /*- header -*/
      1fr
      $ft; /*- footer */

  grid-template-areas:
      " hd"  /*- header -*/
      " mp"
      " ft"; /*- footer -*/

  grid-column-gap: 3rem;
  grid-row-gap: 0;

  .header {
    grid-area: hd;
  }

  .default-main {
    grid-area: mp;
  }

  .footer {
    grid-area: ft;
  }
}

.gorilla-page {
  .default-container {
    grid-template-rows:
      $hd-default    /*- header -*/
      460.4rem
      $ft; /*- footer */
  }
}




