<!DOCTYPE html>
<html lang="ru">
<head>
  {{> 0.head }}
</head>

<body>
<div class="container">
  <!-- Header -->
  {{> 1.header }}

  <!-- backstage article -->
  {{> 2.article }}

  <!-- photo of animals -->
  {{> 3.photo }}

  <!-- Button choose favorite animal -->
  {{> 4.button-favorite }}

  <!--    feed animal section-->
  {{> 5.feed-fried }}

  <!--    Testimonials section-->
  {{> 6.testimonials }}

  <!--  Footer-->
  {{> 7.footer }}


  <!-- Main -->
  <!--    <main class="main">
        <div class="container">
          {{> body }}
        </div>
      </main>-->

</div> <!--container-->
</body>
</html>
