<!DOCTYPE html>
<html lang="ru">
<head>
  {{> head }}
</head>

<body class="panda-page">

<aside class="side-bar side-bar--desktop">
  <div class="side-bar__before"></div>
  <div class="side-bar__nav">
    <ul class="side-bar__list">

      <li class="side-bar__item tooltip-container">
        <a href="../zoos/gorilla.html" class="side-bar__link">
          <div class="tooltip-container__tooltip">
            <p class="tooltip__par-one">Gorilla</p>
          </div>
          <svg class="side-bar__icon">
            <use xlink:href="../assets/images/sidebar/sprite-sidebar.svg#gorilla"></use>
          </svg>
        </a></li>

      <li class="side-bar__item tooltip-container">
        <a href="../zoos/alligator.html" class="side-bar__link">
          <div class="tooltip-container__tooltip">
            <p class="tooltip__par-one">Alligator</p>
          </div>
          <svg class="side-bar__icon">
            <use xlink:href="../assets/images/sidebar/sprite-sidebar.svg#alligator"></use>
          </svg>
        </a></li>

      <li class="side-bar__item tooltip-container">
        <div class="tooltip-container__tooltip">
          <p class="tooltip__par-one">Panda</p>
        </div>
        <svg class="side-bar__icon-inactive">
          <use xlink:href="../assets/images/sidebar/sprite-sidebar.svg#panda"></use>
        </svg>
      </li>

      <li class="side-bar__item tooltip-container">
        <a href="../zoos/eagle.html" class="side-bar__link">
          <div class="tooltip-container__tooltip">
            <p class="tooltip__par-one">Eagle</p>
          </div>
          <svg class="side-bar__icon">
            <use xlink:href="../assets/images/sidebar/sprite-sidebar.svg#eagle"></use>
          </svg>
        </a></li>

      <li class="side-bar__item tooltip-container">
        <a href="#" class="side-bar__link">
          <div class="tooltip-container__tooltip">
            <p class="tooltip__par-one">Sloth</p>
          </div>
          <svg class="side-bar__icon">
            <use xlink:href="../assets/images/sidebar/sprite-sidebar.svg#sloth"></use>
          </svg>
        </a></li>

      <li class="side-bar__item tooltip-container">
        <a href="#" class="side-bar__link">
          <div class="tooltip-container__tooltip">
            <p class="tooltip__par-one">Penguin</p>
          </div>
          <svg class="side-bar__icon">
            <use xlink:href="../assets/images/sidebar/sprite-sidebar.svg#penguin"></use>
          </svg>
        </a></li>

      <li class="side-bar__item tooltip-container">
        <a href="../index/index.html" class="side-bar__link">
          <div class="tooltip-container__tooltip">
            <p class="tooltip__par-one">Home</p>
          </div>
          <svg class="side-bar__icon">
            <use xlink:href="../assets/images/sidebar/sprite-sidebar.svg#arrow"></use>
          </svg>
        </a></li>
    </ul>

  </div>

</aside>

<div class="panda-container">
  <!-- Header -->
  {{> header-zoo }}

  <!-- Main  -->
  {{> body }}

  <!--  Footer-->
  {{> footer-zoo }}

</div> <!--container-->
</body>
</html>
